.bannerBox {
  background: url('../../img/bg_banner.jpg') no-repeat;
  background-size: 100% 100%;
  padding-top: 2rem;
  position: relative;
  padding-bottom: 6rem;
}
.bannerBox .title1 {
  color: #2c62fe;
  font-size: 3.7rem;
  font-weight: bold;
}
.bannerBox .blodText {
  color: #2c2c2c;
  font-size: 2.2rem;
  line-height: 2.6rem;
}
.bannerBox .blodText span {
  color: #005aff;
}
.bannerBox .bannerTips {
  background: url('../../img/subheading-bg.png') no-repeat;
  color: #ffffff;
  font-size: 0.81rem;
  background-size: 100% ;
  width: 15.47rem;
  padding: 0.4rem 0;
  text-align: center;
  margin: 0.9rem 0;
}
.bannerBox .GOSubmit {
  width: 6.63rem;
  background-image: linear-gradient(90deg, #253fff 0%, #5788ff 100%);
  border-radius: 1.78rem;
  display: block;
  font-size: .875rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding: 0.5rem 0.4rem;
  text-decoration: none;
  margin-top: 2.5rem;
  line-height: 1.7;
}
.bannerBox .GOSubmit img {
  width: 1rem;
  margin-top: -0.32rem;
}
.bannerBox .GOSubmitTips {
  font-size: 0.74rem;
  color: #2c2c2c;
  margin-top: 2.4rem;
}
.bannerBox .human-banner {
  position: absolute;
  right: 0;
  width: 48%;
  bottom: 0;
  z-index: 1;
}
.bannerBox .shape-circle {
  position: absolute;
  width: 50%;
  right: 0;
  bottom: 0rem;
  z-index: 0;
}
.explain-block{
  overflow: hidden;
  position: relative;
}
.explain-block .swiper2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.6rem;
}
.explain-block .swiper2 .swiper-slide {
  width: auto !important;
  line-height: 2.6rem;
}
.explain-block .swiper2 .swiper-slide img {
  height: 1.2rem;
}
.explain-block .swiper-wrapper {
  -webkit-transition-timing-function: linear;
  /*之前是ease-out*/
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
.explain-block .introduce {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
  /*background-image: url("../../img/bg_tczh_line.png");*/
  background-repeat: no-repeat;
  background-position: center bottom;
}
.explain-block .introduce:after {
  content: '';
  position: absolute;
  height: 1px;
  background: #efefef;
  top: 0;
  width: calc(100% + 30px);
  left: -15px;
}
.explain-block .introduce .book {
  width: 7rem;
}
.explain-block .introduce .introduce-block {
  margin-left: 1rem;
}
.explain-block .introduce .introduce-block .introduce-title {
  color: #2c62fe;
  font-size: 1.1rem;
  font-weight: bold;
  position: relative;
}
.explain-block .introduce .introduce-block .introduce-title img {
  position: absolute;
  z-index: -1;
  width: 2.2rem;
  left: -1rem;
  top: -0.2rem;
}
.explain-block .introduce .introduce-block .introduce-text {
  font-size: 0.76rem;
  color: #888888;
  line-height: 1.6;
  margin-top: 0.5rem;
  text-align: justify;
  text-indent: 1.5rem;
  padding-right: 0.8rem;
}
.suitable-audience{
  position: relative;
}
.suitable-audience .block-title {
  text-align: center;
  color: #303030;
  font-size: 1.25rem;
  font-weight: bold;
}
.suitable-audience .suit {
  margin-top: 0.8rem;
}
.suitable-audience .suit li {
  height: 4.5rem;
  background-image: url("../../img/bg_shrq.png");
  background-size: 100% 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 1.4rem;
}
.suitable-audience .suit li img {
  width: 2rem;
}
.suitable-audience .suit li p.p1 {
  color: #505050;
  font-size: 0.9rem;
  margin-left: 1rem;
}
.service-guarantee {
  /*background-image: url("../../img/bg_fwbz.jpg");*/
  background-repeat: no-repeat;
  background-position: 0 100%;
  height: 50rem;
  position: relative;
  overflow: hidden;
}
.service-guarantee .block-title {
  color: #2c62fe;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.4rem;
}
.service-guarantee .p1 {
  font-size: 0.825rem;
  text-align: center;
  color: #333333;
  margin-bottom: 1.3rem;
}
.service-guarantee .service-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service-guarantee .service-box .service-item {
  box-shadow: 0 0 4px 1px #e9e9e9;
  width: 48%;
  border-radius: 0.2rem;
  text-align: center;
  padding: 0 1rem;
  background: #FFFFFF;
}
.service-guarantee .service-box .service-item img {
  width: 2.5rem;
  margin-top: 1rem;
}
.service-guarantee .service-box .service-item .item-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #424242;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.service-guarantee .service-box .service-item .item-text {
  text-align: justify;
  color: #888888;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  height: 6rem;
}
.service-guarantee .service-box.service-box2 {
  margin-top: 0.8rem;
  margin-bottom: 1.75rem;
}
.service-guarantee .talkAbout {
  position: absolute;
  bottom: 0;
  width: calc(100% - 30px);
  height: 17rem;
  left: 1rem;
}
.service-guarantee .talkAbout .speech-block1 {
  color: #FFFFFF;
  background: #2c62fe;
  font-size: 0.8rem;
  padding: 0.6rem 1rem;
  width: 10rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: absolute;
  top: 2rem;
}
.service-guarantee .talkAbout .speech-block2 {
  color: #2c62fe;
  background: #FFFFFF;
  font-size: 0.8rem;
  padding: 0.8rem 0.6rem;
  width: 10rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: absolute;
  right: 0;
  top: 0;
}
.service-guarantee .talkAbout .speech-block3 {
  color: #FFFFFF;
  background: #2c62fe;
  font-size: 0.8rem;
  padding: 1rem 1rem;
  width: 8.4rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: absolute;
  right: 0;
  top: 5rem;
}
.service-guarantee .talkAbout .speech-block4 {
  color: #2c62fe;
  background: #FFFFFF;
  font-size: 0.8rem;
  padding: 0.8rem 1rem;
  width: 8rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: absolute;
  left: 0;
  top: 7rem;
}
.service-guarantee .talkAbout .interviewer {
  position: absolute;
  height: 12rem;
  left: 50%;
  bottom: 0;
  transform: translateX(-42%);
}
.processing-data {
  padding: 2.5rem 15px 2.6rem;
}
.processing-data .processing-d-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.processing-data .processing-d-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.6rem;
}
.processing-data .processing-d-item {
  text-align: center;
  width: 46%;
  position: relative;
}
.processing-data .processing-d-item .p1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}
.processing-data .processing-d-item .p1 img {
  height: 1.2rem;
}
.processing-data .processing-d-item .p2 {
  font-size: 0.9rem;
  color: #262626;
  font-weight: bold;
  margin-bottom: 0.1rem;
}
.processing-data .processing-d-item .p3 {
  color: #7e7e7e;
  font-size: 0.7rem;
  width: 99%;
}
.processing-data .processing-d-item.left:after {
  content: '';
  position: absolute;
  height: 2rem;
  width: 1px;
  background: #e3e3e3;
  right: -8.5%;
  top: 33%;
}
.professional-team {
  background-image: url("../../img/bg_zytd.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1.75rem 0 3rem;
}
.professional-team .container .block-title {
  font-size: 1.25rem;
  color: #2c62fe;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.375rem;
}
.professional-team .container .professional-t-introduce {
  background: #fff;
  background-image: url("../../img/bg_tdjs.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffff;
  font-size: 0.9rem;
  padding: 1.5rem 1.25rem 2rem;
  border-radius: 10px;
  position: relative;
}
.professional-team .container .professional-t-introduce .introduce-en {
  font-size: 0.8rem;
  background-image: url(../../img/shape_triangle.png);
  background-repeat: no-repeat;
  background-size: 1.2rem 1.2rem;
  line-height: 2;
  padding-left: 1.2rem;
}
.professional-team .container .professional-t-introduce .introduce-zh {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0.4rem 0;
  letter-spacing: 0.1rem;
}
.professional-team .container .professional-t-introduce .introduce-text {
  color: #fffefe;
  line-height: 1.6;
  margin-top: 1rem;
}
.professional-team .container .professional-t-introduce .quotation {
  background: #fff;
  height: 1.8rem;
  border-radius: 2rem;
  color: #303030;
  line-height: 1.8rem;
  font-size: 0.7rem;
  margin-top: 1rem;
  position: relative;
  padding-left: 6.5rem;
}
.professional-team .container .professional-t-introduce .quotation .get-quotation {
  display: inline-block;
  height: 2rem;
  background: linear-gradient(90deg, #fb735b, #ffa87d);
  width: 6rem;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 3rem;
  position: absolute;
  top: -0.1rem;
  left: 0;
}
.professional-team .container .professional-t-introduce .quotation .quotation-price {
  color: #ff7b47;
}
.professional-team .container .team-members {
  background: #ffffff;
  padding: 1.5rem 1.68rem 0.7rem;
  margin-top: -1rem;
}
.professional-team .container .team-members .team-item {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0.75rem 0;
  border-bottom: 1px solid #c4d8ff;
}
.professional-team .container .team-members .team-item.noBorder {
  border-bottom: none;
}
.professional-team .container .team-members .team-item img {
  width: 3.4rem;
  margin-right: 1rem;
}
.professional-team .container .team-members .team-item .team-members-text .members-post {
  color: #2c62fe;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.professional-team .container .team-members .team-item .team-members-text .members-introduce {
  color: #303030;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}
.service-process {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}
.service-process .container .block-title {
  font-size: 1.25rem;
  color: #2c62fe;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.375rem;
}
.service-process .container .service-process-block {
  margin-top: 1.5rem;
}
.service-process .container .service-process-block .process-b-i {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
}
.service-process .container .service-process-block .process-b-i .process-item {
  width: 48%;
  margin-bottom: 1.4rem;
  padding: 0 1rem;
}
.service-process .container .service-process-block .process-b-i .process-item .process-no {
  height: 2.5rem;
}
.service-process .container .service-process-block .process-b-i .process-item .title {
  color: #262626;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0.4rem 0;
}
.service-process .container .service-process-block .process-b-i .process-item .process-introduce {
  color: #7e7e7e;
  font-size: 0.75rem;
}
.service-process .container .service-process-block .process-b-i img.arrow-icon {
  width: 2.9rem;
  position: absolute;
  left: 43%;
  top: 3rem;
}
.journal-recommend {
  background: #f3f6ff;
}
.journal-recommend .block-title {
  color: #2c62fe;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1.625rem;
  margin-bottom: 1rem;
  text-align: center;
}
.journal-recommend .journal-block .j-block-row {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.journal-recommend .journal-block .j-block-row .journal-item {
  background: #ffffff;
  width: 31%;
  text-align: center;
  margin-bottom: 0.7rem;
  padding: 0.5rem 0;
  height: 13rem;
}
.journal-recommend .journal-block .j-block-row .journal-item .img-block {
  height: 8.1rem;
}
.journal-recommend .journal-block .j-block-row .journal-item .img-block img {
  width: 5.9rem;
  height: 7.8rem;
}
.journal-recommend .journal-block .j-block-row .journal-item .book-name {
  color: #303030;
  font-size: 0.66rem;
  margin-top: 0.4rem;
}
.journal-recommend .journal-block .j-block-row .journal-item .impact-factors {
  font-size: 0.7rem;
  color: #303030;
  margin-top: 0.3rem;
}
.journal-recommend .journal-block .j-block-row .journal-item .impact-factors span {
  color: #2e62fe;
}
.journal-recommend .get-more {
  display: block;
  width: 7.2rem;
  height: 2.1rem;
  background: linear-gradient(90deg, #253fff, #5889ff);
  font-size: 0.75rem;
  color: #fefefe;
  text-align: center;
  line-height: 2.1rem;
  border-radius: 4rem;
  margin: 1.2rem auto;
}
.journal-recommend .get-more:hover {
  text-decoration: none;
}
.journal-recommend .get-more:active {
  text-decoration: none;
}
.journal-press-block .journal-press-title {
  color: #2c62fe;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 2.0625rem;
  margin-bottom: 1.625rem;
}
.journal-press-block .journal-press-item {
  border: 1px solid #dde6ff;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  text-align: center;
  overflow: hidden;
  margin-bottom: 1.4rem;
}
.journal-press-block .journal-press-item .jp-head {
  height: 3.0625rem;
  background: #dde6ff;
  line-height: 3.0625rem;
  font-weight: bold;
  font-size: 1.125rem;
}
.journal-press-block .journal-press-item img {
  width: 84%;
  margin: 1.5rem 0;
}
.user-reviews {
  margin-top: 1rem;
}
.user-reviews .reviews-top {
  background-image: url("../../img/bg_khpj1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 10.625rem;
  padding: 1.8625rem 15px 0;
}
.user-reviews .reviews-top .reviews-title {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.user-reviews .reviews-top .reviews-synopsis {
  color: #fff;
  font-size: 0.725rem;
  margin-top: 0.5rem;
}
.user-reviews .reviews-bottom {
  margin-top: -2.5rem;
  margin-bottom: 2rem;
  height: 10rem;
}
.user-reviews .reviews-bottom .reviews-item {
  width: 18.625rem;
  background: #fff;
  box-shadow: 0 1px 6px 0px #cad7ff;
  padding: 1rem 0.8rem;
}
.user-reviews .reviews-bottom .reviews-item .r-i-top {
  position: relative;
}
.user-reviews .reviews-bottom .reviews-item .r-i-top .userlogo {
  width: 3.4rem;
  display: inline-block;
  vertical-align: middle;
}
.user-reviews .reviews-bottom .reviews-item .r-i-top .text-box {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.6rem;
  margin-top: 0.3rem;
}
.user-reviews .reviews-bottom .reviews-item .r-i-top .text-box .username {
  font-size: 0.82rem;
  font-weight: bold;
  color: #303030;
}
.user-reviews .reviews-bottom .reviews-item .r-i-top .text-box img {
  width: 3.5rem;
  margin-top: -0.8rem;
}
.user-reviews .reviews-bottom .reviews-item .r-i-top .icon-reviews {
  width: 2rem;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: 0.5rem;
  top: 0.1rem;
}
.user-reviews .reviews-bottom .reviews-item .r-i-bottom {
  font-size: 0.75rem;
  color: #505050;
  margin-top: 0.6rem;
  line-height: 1.6;
  width: 100%;
}
.user-reviews .reviews-bottom .swiper {
  height: 13rem;
}
.user-reviews .reviews-bottom .swiper-free-mode > .swiper-wrapper {
  height: 10.5rem;
}
.question-block {
  margin: 4rem 0 2rem;
}
.question-block .question-title {
  color: #2c62fe;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}
.question-block .question-content {
  background: #edf5ff;
  border-radius: 1.8rem;
  padding: 1rem 15px 1rem;
}
.question-block .question-content .question-item {
  background: #fff;
  margin-bottom: 1rem;
  padding: 0 1rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.question-block .question-content .question-item .q-i-top {
  color: #303030;
  font-size: 0.9rem;
  padding: 0.6rem 0;
  position: relative;
  font-weight: 600;
}
.question-block .question-content .question-item .q-i-top i {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url("../../img/button_open2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 0;
}
.question-block .question-content .question-item .q-i-bottom {
  color: #888888;
  font-size: 0.8rem;
  padding: 0.8rem 0;
  border-top: 1px solid #edf7ff;
  letter-spacing: 2px;
  line-height: 1.4;
  display: none;
  width: 100%;
}
.question-block .question-content .question-item.active {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.question-block .question-content .question-item.active .q-i-top i {
  background-image: url("../../img/button_open1.png");
}
.question-block .question-content .question-item.active .q-i-bottom {
  display: block;
}
.indexBottom {
  background: url('../../img/bottom-bg.png') no-repeat;
  background-size: 100% auto;
  background-position: 100% 100%;
}
.indexBottom #formSubmit {
  padding-bottom: 0.7rem;
}
.indexBottom .SubmitTop {
  text-align: center;
  color: #353b53;
  font-size: 1.4rem;
  padding-top: 0.63rem;
  margin-bottom: 1.5rem;
}
.indexBottom .SubmitTop p {
  font-weight: bold;
}
.indexBottom .SubmitTop p span {
  margin-right: 0.5rem;
}
.indexBottom .SubmitTop p.mainHader {
  color: #000000;
  font-size: 0.8rem;
  font-weight: normal;
  margin-top: 0.4rem;
}
.indexBottom .SubmitContainer {
  background-color: #ffffff;
  box-shadow: 0rem 0rem 0.28rem 0.19rem rgba(136, 161, 207, 0.1);
  border-radius: 0.63rem;
  border: solid 0.03rem #f0f4f7;
  padding-top: 1rem;
}
.indexBottom .SubmitContainer .mainHader {
  font-size: 0.75rem;
  font-weight: bold;
  color: #101329;
  border-bottom: 1px solid #e1e4ea;
  padding: 0.97rem 0;
  padding-left: 1rem;
}
.indexBottom .SubmitContainer label {
  color: #494949;
  font-size: 0.8rem;
  font-weight: normal;
}
.indexBottom .SubmitContainer label span {
  color: #ff0000;
}
.indexBottom .SubmitContainer form .form-control {
  box-shadow: none;
  border-color: #dfdfdf;
}
.indexBottom .Verification {
  overflow: hidden;
}
.indexBottom .Verification .VerificationCode_s {
  width: calc(100% - 5.8rem);
  float: left;
}
.indexBottom .Verification .VerificationCode {
  color: #666666 !important;
  font-size: 0.69rem;
  background-color: #f4f6f9 !important;
  border-radius: 0.31rem;
  border: solid 0.03rem #dcdfe6 !important;
  box-shadow: none;
  float: right;
  padding: 8px 12px;
}
.indexBottom .requirements {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0.31rem;
  border: solid 1px #dfdfdf;
  padding: 0.5rem;
  font-size: 14px;
}
.indexBottom .button_s {
  text-align: center;
}
.indexBottom .button_s .tj {
  background-color: #1d4aff;
  border-color: #1d4aff;
  padding: 0.4rem 1.68rem;
  outline: 0 !important;
}
.indexBottom .Statement {
  color: #ffffff;
  font-size: 0.69rem;
  text-align: center;
  padding: 1rem 0;
}
.indexBottom .container {
  background: linear-gradient(180deg, #fff 80%, #07309c 20%);
}
.tj:hover {
  box-shadow: 2px 2px 10px #06C;
}
.form-control:focus,
.remark:focus,
.requirements:focus {
  border-color: #3f83ff;
  outline: 0;
  -webkit-box-shadow: inset 0 0.22rem 0.09rem rgba(63, 131, 255, 0.1), 0 0 8px rgba(162, 204, 238, 0.6);
  box-shadow: 0rem 0rem 0.22rem 0.09rem rgba(63, 131, 255, 0.1);
}
.navbarBox {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navbarBox .navbar-toggle {
  padding: 5px 10px;
}
.navbarBox .navbar-header .quote {
  width: 5.125rem;
  background: #3c65ff;
  color: #fff;
  height: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 1rem;
  display: inline-block;
  float: right;
  margin-top: 0.782rem;
  margin-right: 1rem;
}
.navbarBox .navbar-header .quote:active {
  text-decoration: none;
}
.navbarBox .navbar-header .quote:visited {
  text-decoration: none;
}
.navbarBox .navbar-header .quote:hover {
  text-decoration: none;
}
.bannerBox {
  margin-top: 50px;
}
#myModal_s {
  text-align: center;
}
#myModal_s .close {
  opacity: 1;
}
#myModal_s .modal-header {
  border-bottom: 0;
  padding-bottom: 0;
}
#myModal_s .modal-header img {
  width: 0.8rem;
  height: 0.8rem;
}
#myModal_s .modal-body {
  padding-top: 0;
}
#myModal_s .modal-body img {
  width: 2.44rem;
  margin-bottom: 1rem;
}
#myModal_s .modal-body p {
  color: #333333;
  font-size: 0.75rem;
}
#myModal_s .dialogTips {
  color: #999999;
  font-size: 0.63rem;
  margin-top: 1rem;
}
#myModal_s .modal-dialog {
  margin: 2rem;
  margin-top: 40%;
}
#myModal_s .modal-dialog .modal-content {
  padding-bottom: 1.05rem;
}
#full_feature {
  margin-top: 1.6rem;
}
.noMarginBottom {
  margin-bottom: 0 !important;
}
/*# sourceMappingURL=index.css.map */