body {
  min-height: 100vh;
}
.navbar-brand img {
  width: 0.59rem;
}
.navbarBox .title {
  text-align: center;
  line-height: 50px;
}
.navbar-brand {
  margin-right: 15px;
}
.form-control:focus,
.remark:focus,
.requirements:focus {
  border-color: #fae4d0;
  outline: 0;
  box-shadow: none;
}
.form-control {
  background-color: #ffffff;
  border-radius: 0.63rem;
  border: solid 0.03rem #e2e2e2;
  box-shadow: none;
}
.MobilePhone {
  position: relative;
  background-color: #fff;
  border-radius: 0.63rem;
}
.MobilePhone .phoneInput {
  width: 100%;
  height: 2.5rem;
  padding-left: 1rem;
}
.MobilePhone .VerificationCode {
  position: absolute;
  right: 0.8rem;
  top: 0;
  line-height: 2.5rem;
  color: #3f83ff;
  font-size: 0.94rem;
  padding-left: 0.7rem;
}
.MobilePhone .VerificationCode::before {
  content: '';
  display: inline-block;
  width: 0.03rem;
  height: 1.25rem;
  background-color: #e3e6e9;
  border-radius: 0.02rem;
  margin-right: 0.75rem;
  position: relative;
  top: 0.3rem;
}
.MobilePhone .VerificationCode.forbid {
  color: #999999;
}
.Verification {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0.63rem;
}
.Verification .VerificationCode_s {
  height: 2.5rem;
  width: calc(100% - 6.5rem);
  padding-left: 1rem;
}
.Verification .button-css {
  border-color: #ff7e00 !important;
  width: 6rem;
  height: 2.5rem;
  background-color: #ff7e00 !important;
  border-radius: 0.63rem;
  border: solid 0.03rem #f0f4f7 !important;
  outline: 0 !important;
}
.MobilePhone,
.Verification {
  position: relative;
}
.MobilePhone img,
.Verification img {
  position: absolute;
  top: 0.75rem;
  left: 1rem;
}
.MobilePhone > .messege,
.Verification > .messege {
  width: 1rem;
  top: 0.9rem;
}
.MobilePhone > .phone,
.Verification > .phone {
  width: 1rem;
}
.containerMain {
  padding-top: calc(50px + 1rem);
  background-color: #f8f6f5;
}
.ResultContainer {
  padding-top: 0.94rem;
}
.cardDiv {
  background: url('../../img/bg_order.png') no-repeat;
  background-position: 100% 0;
  background-size: 25% auto;
  background-color: #ffffff;
  border-radius: 0.63rem;
  border: solid 0.03rem #f0f4f7;
  padding: 0.8rem;
  position: relative;
  margin-top: 1rem;
  font-size: 0.75rem;
  padding-bottom: 0;
}
.cardDiv .infoText {
  color: #333333;
  line-height: 1.8rem;
}
.cardDiv label {
  font-weight: 400;
  color: #999999;
}
.cardDiv .bottomB {
  padding: 1rem 0;
  border-top: 1px solid #ececec;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardDiv .CopyText {
  color: #ffffff;
  font-size: 0.75rem;
  background-color: #ff7e00;
  border-radius: 0.78rem;
  padding: 0.3rem 0.7rem;
}
.cardDiv .created {
  color: #999999;
  font-size: 0.69rem;
}
.form-group.button_s {
  text-align: right;
  padding-right: 1rem;
}
.Default {
  text-align: center;
  margin-top: 3.16rem;
  padding-bottom: 6rem;
}
.Default p {
  color: #666666;
  font-size: 0.75rem;
}
.Default img {
  width: 7rem;
}
.Default a {
  display: inline-block;
  padding: 0.63rem 1.28rem;
  color: #ffffff;
  font-size: 0.94rem;
  font-weight: bold;
  background-image: linear-gradient(90deg, #ff7e00 0%, #fca34b 100%);
  box-shadow: 0rem 0rem 0.28rem 0.19rem rgba(136, 161, 207, 0.1);
  border-radius: 0.31rem;
  border: solid 0.03rem #f0f4f7;
  margin-top: 1.1rem;
}
.loading {
  text-align: center;
  padding-top: 3rem;
  min-height: 20rem;
}
.loading img {
  margin-top: 6rem;
}
.ForTheRecord {
  color: #adadad;
  margin-top: 7rem;
  border-color: #e4eef9;
}
input:-internal-autofill-previewed,
input:-internal-autofill-selected {
  transition: background-color 999999999s !important;
}
.UsageTab {
  background-color: #fff;
  border-radius: 0.63rem;
  margin-top: 1rem;
}
.UsageTab #slider1 {
  background-color: #fff;
  border-radius: 0.63rem;
}
.UsageBox {
  padding: 2rem 0;
}
.UsageBox .haderText {
  font-size: 1rem;
  color: #2c1902;
  font-weight: bold;
}
.UsageBox .haderText img {
  width: 0.97rem;
  vertical-align: middle;
  margin-top: -0.1rem;
}
.UsageBox .page {
  border-radius: 0.63rem 0.63rem 0 0;
  text-align: left;
  height: 2.97rem;
  line-height: 2.97rem;
  width: 100%;
  display: -webkit-box;
}
.UsageBox .page li {
  -webkit-box-flex: 1;
  font-size: 18px;
  display: block;
  color: #000;
  height: 2.97rem;
  line-height: 2.97rem;
  text-align: center;
}
.UsageBox .page li a {
  text-decoration: none;
  color: #555555;
  display: block;
  height: 2.97rem;
}
.UsageBox .page a.active {
  color: #ff7e00;
  font-weight: bold;
}
.UsageBox .page a.active .phone_ico2,
.UsageBox .page a.active .computer_ico2 {
  display: inline-block !important;
}
.UsageBox .page a.active .phone_ico1,
.UsageBox .page a.active .computer_ico1 {
  display: none !important;
}
#pagenavi1 .phone_ico1,
#pagenavi1 .phone_ico2 {
  width: 0.97rem;
  margin-top: -0.2rem;
}
#pagenavi1 .computer_ico1,
#pagenavi1 .computer_ico2 {
  width: 1.25rem;
  margin-top: -0.2rem;
}
#pagenavi1 .phone_ico2,
#pagenavi1 .computer_ico2 {
  display: none;
}
#pagenavi1 li {
  background-color: #fff;
}
#pagenavi1 li a {
  background-color: #f0f0f0;
}
#pagenavi1 .activLi {
  background-color: #f0f0f0;
}
#pagenavi1 .activLi a {
  background-color: #fff;
}
#pagenavi1 #activLi1 {
  border-radius: 0.63rem 0 0 0;
}
#pagenavi1 #activLi2 {
  border-radius: 0 0.63rem 0 0;
}
#pagenavi1 #phoneTab {
  border-radius: 0.63rem 0.63rem 0 0;
}
#pagenavi1 #pcTab {
  border-radius: 0 0.63rem 0 0.63rem;
}
#pagenavi1.Select1 #phoneTab {
  border-radius: 0.63rem 0 0.63rem 0;
}
#pagenavi1.Select1 #pcTab {
  border-radius: 0.63rem 0.63rem 0 0;
}
.news_list {
  text-align: center;
  padding-left: 3rem;
  padding-right: 1.8rem;
  margin-top: 0.74rem;
}
.news_list .leftSolide {
  display: inline-block;
  position: relative;
}
.news_list .leftSolide::after {
  display: inline-block;
  position: absolute;
  left: -1rem;
  top: 1.3rem;
  content: '';
  height: calc(100% - 2rem);
  border-left: 1px dashed #ffc489;
}
.news_list .StepsText {
  text-align: left;
  color: #333333;
  font-size: 0.94rem;
  padding: 0.78rem 0;
}
.news_list .StepsText span {
  font-weight: bold;
}
.news_list .code2 {
  max-width: 8.78rem;
}
.news_list img {
  max-width: 98%;
}
.news_list .StepsTexts {
  position: relative;
}
.news_list .StepsTexts i {
  display: inline-block;
  background-color: #ffab57;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  font-style: normal;
  padding: 0.2rem 0.4rem 0.2rem 0.46rem;
  line-height: normal;
  position: absolute;
  left: -1.8rem;
  z-index: 100;
  top: 0.7rem;
}
#copyInput {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
