.bannerBox {
  background: url('../../img/bg.jpg') no-repeat;
  background-size: 100%;
  padding-top: 2.9rem;
}
.bannerBox .blodText {
  color: #001027;
  font-size: 2.19rem;
  line-height: 2.6rem;
}
.bannerBox .blodText span {
  color: #005aff;
}
.bannerBox .bannerTips {
  background: url('../../img/subheading-bg.png') no-repeat;
  color: #ffffff;
  font-size: 0.81rem;
  background-size: 100% ;
  width: 15.47rem;
  padding: 0.4rem 0;
  text-align: center;
  margin: 0.9rem 0;
}
.bannerBox .GOSubmit {
  width: 5.63rem;
  background-image: linear-gradient(90deg, #3b44ff 0%, #00b4ff 100%);
  border-radius: 0.78rem;
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding: 0.4rem;
  line-height: initial;
  text-decoration: none;
}
.bannerBox .GOSubmitTips {
  font-size: 0.63rem;
  color: #7e8088;
  margin-top: 0.8rem;
}
.StepsBox {
  background-color: #f0f6fc;
  padding-bottom: 2rem;
  background: linear-gradient(to right, #f2f7fd, #e4eefa);
}
.UniversalHead {
  text-align: center;
  padding-top: 2.5rem;
}
.UniversalHead b span {
  font-size: 1.31rem;
  color: #101329;
  font-weight: bold;
  margin: 0 1rem;
}
.UniversalHead img {
  width: 1.47rem;
  height: 0.44rem;
}
.UniversalHead p {
  color: #7d7e83;
  font-size: 0.81rem;
  margin-top: 0.5rem;
}
.TodayData {
  background: url('../../img/kx-bg.png') no-repeat;
  background-size: 100% 100%;
  margin-top: 1.56rem;
  padding-bottom: 0.7rem;
}
.TodayData .Quantity {
  display: flex;
  justify-content: space-evenly;
  color: #ffffff;
  font-size: 0.75rem;
  padding-top: 0.9rem;
}
.TodayData .Quantity b {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.6rem;
}
.TodayData .Quantity i {
  display: inline-block;
  width: 0.03rem;
  height: 2.5rem;
  background-color: #d7e2eb;
  border-radius: 0.02rem;
  opacity: 0.8;
}
.Stepsdiv {
  display: flex;
  flex-wrap: wrap;
  padding: 1.7rem 0.9rem 0.6rem 0.9rem;
  background: url('../../img/a_06.png') no-repeat;
  background-size: 100% 100%;
  margin-top: -0.8rem;
}
.Stepsdiv > div {
  width: 50%;
  font-size: 0.69rem;
  padding-top: 0.8rem;
  padding-left: 2.2rem;
  padding-bottom: 0.78rem;
}
.Stepsdiv > div span {
  color: #005aff;
}
.Stepsdiv > div span b {
  font-weight: bold;
  font-size: 1.13rem;
}
.FiveStepsBox {
  padding-bottom: 2.5rem;
}
.FiveStepsDiv {
  margin-top: 1.1rem;
}
.FiveStepsDiv .FiveStepsTop {
  display: flex;
  justify-content: center;
}
.FiveStepsDiv .FiveStepsBottom {
  display: flex;
  justify-content: center;
}
.FiveStepsDiv .card {
  width: 5.94rem;
  height: 6.25rem;
  background-color: #ffffff;
  box-shadow: 0rem 0rem 0.22rem 0.09rem rgba(117, 134, 175, 0.1);
  border-radius: 0.58rem;
  border: solid 0.03rem rgba(108, 158, 255, 0.2);
  margin: 0.45rem 0.4rem;
  position: relative;
}
.FiveStepsDiv .icoBox {
  text-align: center;
}
.FiveStepsDiv .icoBox img {
  width: 2.22rem;
  height: 2.22rem;
  margin: 0.81rem 0;
}
.FiveStepsDiv .text {
  text-align: center;
  background-color: #4688ff;
  border-radius: 0 0 0.58rem 0.58rem;
  padding-top: 0.3rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 0.2rem;
}
.FiveStepsDiv .text p {
  color: #c2d8ff;
  font-size: 0.63rem;
  margin-bottom: -0.3rem;
}
.FiveStepsDiv .text b {
  font-size: 0.75rem;
  font-weight: bold;
  color: #ffffff;
}
.ProvideBox {
  background-color: #f1f8ff;
  padding-bottom: 1.5rem;
}
.ProvideBox .ProvideCard {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0rem 0rem 0.28rem 0.19rem rgba(136, 161, 207, 0.1);
  border-radius: 0.63rem;
  margin-bottom: 1rem;
}
.ProvideBox .ProvideCard img {
  width: 9.38rem;
  height: 7.25rem;
}
.ProvideBox .ProvideCard .textBox {
  padding: 1.3rem 0.5rem 0 1.34rem;
  font-size: 0.69rem;
  color: #999999;
}
.ProvideBox .ProvideCard .textBox div {
  margin-top: 0.4rem;
}
.ProvideBox .ProvideCard b {
  color: #333333;
  font-size: 0.81rem;
}
.ProvideBox .cardBox {
  margin-top: 1.56rem;
}
.ReliableBox {
  text-align: center;
  padding-bottom: 2rem;
}
.ReliableBox .Characters {
  height: 11.6rem;
  margin-top: 0.5rem;
}
.ReliableMain .cardMain {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.ReliableMain .cardMain .ReliableCard {
  background-color: #ffffff;
  box-shadow: 0rem 0rem 0.22rem 0.09rem rgba(117, 134, 175, 0.1);
  border-radius: 0.31rem;
  width: 47%;
  margin: 0 1.5%;
  font-size: 0.69rem;
  padding-bottom: 1.53rem;
  margin-bottom: 0.6rem;
  color: #999;
}
.ReliableMain .cardMain img {
  width: 2.31rem;
  height: 2.31rem;
  margin: 1.5rem 0 1.3rem;
}
.ReliableMain .cardMain b {
  color: #333333;
  font-size: 0.8rem;
  font-weight: bold;
}
.ReliableMain .cardMain div {
  margin-top: 0.3rem;
}
.SwiperBox {
  padding-bottom: 1.5rem;
}
.ContentQuestion {
  margin-top: 1.56rem;
  padding-bottom: 2.3rem;
}
.problemCard {
  background-color: #ffffff;
  border-radius: 0.31rem;
  border: solid 1px #dfdfdf;
  padding: 0 1rem;
  margin-bottom: 0.94rem;
}
.problemCard .Ask {
  color: #666666;
  font-size: 0.69rem;
  padding: 0.63rem 0;
}
.problemCard .Ask .q {
  color: #333333;
  font-weight: bold;
}
.problemCard .Ask img {
  width: 0.59rem;
  height: 0.59rem;
}
.problemCard .Ask .q2,
.problemCard .Ask .q3 {
  width: 80%;
  display: inline-block;
  vertical-align: top;
}
.problemCard .Answer {
  font-size: 0.63rem;
  color: #999999;
  border-top: 1px solid #dfdfdf;
  padding: 0.72rem 0 1.06rem 0;
  display: none;
}
.problemCard .Switch {
  float: right;
  cursor: pointer;
}
.problemCard .Switch .Off {
  display: none;
}
.indexBottom {
  background: url('../../img/bottom-bg.png') no-repeat;
  background-size: 100% auto;
  background-position: 100% 100%;
  background-color: #f1f8ff;
}
.indexBottom #formSubmit {
  padding-bottom: 0.7rem;
}
.indexBottom .SubmitTop {
  text-align: center;
  color: #353b53;
  font-size: 1.31rem;
  padding-top: 2.63rem;
  margin-bottom: 1.5rem;
  background: url('../../img/bottomzs.png') no-repeat;
  background-position: 100% 50%;
}
.indexBottom .SubmitTop p {
  font-weight: bold;
}
.indexBottom .SubmitTop p span {
  color: #005aff;
}
.indexBottom .SubmitContainer {
  background-color: #ffffff;
  box-shadow: 0rem 0rem 0.28rem 0.19rem rgba(136, 161, 207, 0.1);
  border-radius: 0.63rem;
  border: solid 0.03rem #f0f4f7;
  overflow: hidden;
}
.indexBottom .SubmitContainer label {
  color: #333333;
  font-size: 0.88rem;
}
.indexBottom .SubmitContainer label span {
  color: #ff0000;
}
.indexBottom .Verification {
  width: calc(100% - 3.9rem);
}
.indexBottom .Verification .VerificationCode_s {
  width: 100%;
}
.indexBottom .Verification .VerificationCode {
  color: #4688FF;
  font-size: 0.8rem;
  background-color: transparent !important;
  border: 0 !important;
  box-shadow: none;
  height: 2.5rem;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  padding: 0;
  align-items: center;
  padding: 0 0.56rem;
}
.indexBottom .Verification .VerificationCode.forbid {
  color: #666;
}
.indexBottom .Verification .VerificationCode::before {
  content: '';
  display: inline-block;
  border-left: 1px solid #ccc;
  height: 1.13rem;
  width: 1px;
  left: -0.56rem;
  position: relative;
}
.indexBottom .requirements {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0.31rem;
  border: solid 0.03rem #dcdfe6;
  padding: 0.5rem;
  font-size: 0.69rem;
}
.indexBottom .button_s {
  text-align: center;
}
.indexBottom .button_s .tj {
  background-color: #005aff;
  border-color: #005aff;
  padding: 0.53rem 1.68rem;
  outline: 0 !important;
}
.indexBottom .Statement {
  color: #ffffff;
  font-size: 0.69rem;
  text-align: center;
  padding: 1rem 0;
}
.form-control:focus,
.remark:focus,
.main .requirements:focus {
  outline: 0;
  -webkit-box-shadow: inset 0 0.22rem 0.09rem rgba(63, 131, 255, 0.1), 0 0 8px rgba(162, 204, 238, 0.6);
  box-shadow: 0rem 0rem 0.22rem 0.09rem rgba(63, 131, 255, 0.1);
}
.form-control:focus.number_s,
.remark:focus.number_s,
.main .requirements:focus.number_s {
  border-color: #005AFF;
}
.form-control:focus.repetition_s,
.remark:focus.repetition_s,
.main .requirements:focus.repetition_s {
  border-color: #FD6743;
}
.form-control:focus.desired_s,
.remark:focus.desired_s,
.main .requirements:focus.desired_s {
  border-color: #17BD46;
}
.main textarea {
  border: solid 1px #ccc;
}
.navbarBox {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.bannerBox {
  margin-top: 50px;
}
#myModal_s {
  text-align: center;
}
#myModal_s .close {
  opacity: 1;
}
#myModal_s .modal-header {
  border-bottom: 0;
  padding-bottom: 0;
}
#myModal_s .modal-header img {
  width: 0.8rem;
  height: 0.8rem;
}
#myModal_s .modal-body {
  padding-top: 0;
}
#myModal_s .modal-body img {
  width: 2.44rem;
  margin-bottom: 1rem;
}
#myModal_s .modal-body p {
  color: #333333;
  font-size: 0.75rem;
}
#myModal_s .dialogTips {
  color: #999999;
  font-size: 0.63rem;
  margin-top: 1rem;
}
#myModal_s .modal-dialog {
  margin: 2rem;
  margin-top: 40%;
}
#myModal_s .modal-dialog .modal-content {
  padding-bottom: 1.05rem;
}
#full_feature {
  margin-top: 1.6rem;
}
.version {
  display: flex !important;
}
.version .options {
  width: 45%;
  text-align: left;
  font-size: 0.88rem;
  color: #666666;
  background-color: #fff;
}
.version .options > div {
  padding: 0.5rem 0;
}
.version .selected {
  color: #005AFF;
}
.version#versionSetp1 .liberalArts > div {
  border-radius: 0 0.5rem 0 0;
}
.version#versionSetp1 .science > div {
  border-radius: 0 0 0 0.5rem;
}
.version#versionSetp2 .liberalArts > div {
  border-radius: 0 0 0.5rem 0;
}
.version#versionSetp2 .science > div {
  border-radius: 0.5rem 0 0 0;
}
.version .subject {
  margin-right: 0.375rem;
  position: relative;
  top: 0.0625rem;
}
.main .group {
  width: 90%;
  margin: auto;
  max-width: 17rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.main label {
  width: 4.5rem;
  margin-bottom: 0;
  font-size: 0.88rem;
  font-weight: 400;
  color: #3D3D3D;
  line-height: normal;
}
.main .inputBox {
  width: calc(100% - 4.5rem);
  display: inline-block;
  height: 2.5rem;
}
.main .form-control {
  height: 2.5rem;
  padding-right: 0rem;
  padding-left: 0.625rem;
}
#formInfo {
  padding-top: 1.125rem;
}
#formInfo label {
  width: 7rem;
}
#formInfo .inputBox {
  width: calc(100% - 5.5rem);
}
#formInfo .timeBox {
  text-align: center;
}
#formInfo .timeBox .labels {
  font-size: 1rem;
  color: #3D3D3D;
  margin-bottom: 0.7rem;
}
#formInfo .timeBox .toCheck {
  text-align: center;
  width: 4.75rem;
  background: #FFFFFF;
  border-radius: 0.38rem 0.38rem 0.38rem 0.38rem;
  border: 0.06rem solid #CCCCCC;
  line-height: normal;
  padding: 0.66rem 0;
  font-size: 1rem;
  color: #686868;
  display: inline-block;
}
#formInfo .timeBox .toCheck.checked {
  border-color: #005AFF;
  color: #005AFF;
  background: #EEF5FF;
}
#formInfo .timeBox .time_i {
  display: none;
}
#formInfo .quotation {
  text-align: center;
  padding-top: 1.25rem;
}
#formInfo .quotation .labels {
  font-size: 1rem;
  color: #3D3D3D;
  margin-bottom: 0.56rem;
}
#formInfo .quotation .tips {
  font-size: 1.38rem;
  color: #F5522C;
}
#formInfo .quotation .description {
  font-size: 0.88rem;
  color: #999999;
  margin-top: 0.63rem;
}
#formInfo .submittedInfo {
  width: 16.88rem;
  background: #005AFF;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  margin-top: 1.5rem;
  padding: 0.56rem 0;
  color: #fff;
  font-size: 1rem;
}
#formInfo .form-group {
  margin-bottom: 1rem;
}
#formInfo .button_s {
  margin-bottom: 2rem;
}
#formInfo .number_s {
  border-color: #005AFF !important;
}
#formInfo .repetition_s {
  border-color: #FD6743 !important;
}
#formInfo .desired_s {
  border-color: #17BD46 !important;
}
#formInfo .percentSign {
  position: absolute;
  right: 0.55rem;
  top: 0.65rem;
  font-size: 0.88rem;
}
#formInfo .percentSign.percentSign1 {
  color: #FD6743;
}
#formInfo .percentSign.percentSign2 {
  color: #17BD46;
}
.step2 .prompt {
  font-size: 0.75rem;
  color: #3D3D3D;
  border-bottom: 1px solid #E8EBEF;
  padding: 1rem 0;
  padding-left: 1rem;
  font-weight: bold;
}
.step2 h4 {
  font-size: 1rem;
  color: #333333;
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
}
.step2 .form-groupRightNo .requirementstext {
  font-size: 1rem;
  color: #3D3D3D;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
  text-align: center;
}
.step2 .requirementsMain {
  width: 80%;
  margin: auto;
}
.step2 .help-block {
  margin-top: 1px;
}
.indexBottom .button_s .tj {
  width: 16.88rem;
  background: #005AFF;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  padding: 0.56rem 0;
  color: #fff;
  font-size: 1rem;
}
.Filloutform {
  text-align: center;
  color: #3D3D3D;
  font-size: 1rem;
  margin-bottom: 0.375rem;
}
