.fixed-problem {
  width: 4.4rem;
  height: 4.642rem;
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.09);
  border-radius: 1rem;
  left: 0.5rem;
  top: 75%;
  z-index: 100;
  padding: 0.55rem 0.9rem;
  font-size: 1.3rem;
  text-align: center;
  color: #676767;
  transition: all 0.3s;
  display: none;
}
.myProblems {
  display: none;
}
.myProblems .problem-f {
  width: 92%;
  position: fixed;
  left: 4%;
  color: #333333;
  text-align: left;
  top: 10%;
  z-index: 1000;
}
.myProblems .problem-f .p-head {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
  background: linear-gradient(90deg, #006eff, #0094ff);
  height: 5.4rem;
  line-height: 4.4rem;
  text-align: left;
  padding: 0 2.6rem 1rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.myProblems .problem-f .p-head img {
  height: 1.4rem;
}
.myProblems .problem-f .p-content {
  border-radius: 12px;
  margin-top: -1rem;
  background: #fff;
  padding: 2.4rem 1.2rem 2rem 2.2rem;
}
.myProblems .problem-f .p-content .pro-cont {
  height: 42rem;
  overflow-y: auto;
  padding-right: 1rem;
}
.myProblems .problem-f .p-content .pro-cont .p-item {
  margin-bottom: 1.2rem;
}
.myProblems .problem-f .p-content .pro-cont .p-item .p-q {
  color: #333333;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
  position: relative;
  padding-left: 3rem;
  line-height: 2.2rem;
  top: 0.1rem;
}
.myProblems .problem-f .p-content .pro-cont .p-item .p-q span.p-question {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  color: #ffffff;
  font-size: 1.2rem;
  background: #006eff;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  position: absolute;
  left: 0;
  vertical-align: middle;
}
.myProblems .problem-f .p-content .pro-cont .p-item .p-q .p-text {
  width: 90%;
  margin-right: 0.4rem;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.myProblems .problem-f .p-content .pro-cont .p-item .p-q span.icon-more {
  display: inline-block;
  width: 1.2rem;
  height: 0.6rem;
  background: url("../img/icon-down.png") no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 0.9rem;
}
.myProblems .problem-f .p-content .pro-cont .p-item .p-a {
  display: none;
  overflow: hidden;
  margin-top: 0.8rem;
  font-size: 1.2rem;
  color: #666666;
  cursor: default;
}
.myProblems .problem-f .p-content .pro-cont .p-item .p-a.defaultShow {
  display: block;
}
.myProblems .problem-f .p-content .pro-cont .p-item .p-a .redText {
  color: #d10303;
}
.myProblems .problem-f .p-content .pro-cont .p-item.activePr .p-q span.p-text {
  white-space: pre-wrap;
}
.myProblems .problem-f .p-content .pro-cont .p-item.activePr .p-q span.icon-more {
  background: url('../img/icon-up.png') no-repeat;
  background-size: contain;
  top: 0.8rem;
}
.myProblems .problem-f .p-content .pro-cont::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}
.myProblems .problem-f .p-content .pro-cont::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #006eff;
}
.myProblems .problem-f .p-content .pro-cont::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
/*# sourceMappingURL=problem.css.map */