#app {
    display: none;
}
.form-upload {

}
.submit-cont {
    .form-upload {
        .form-group {
            .rower {
                .uploadType {
                    .zip-i {
                        display: none;
                    }
                }
            }
        }
    }
    .ctn-part {
        .file-ctn {
            display: none;
            .zip-type {
                display: none;
            }
            .drop-mask {
                display: none;
                .upload-finish.err {
                    display: none;
                }
            }
        }
    }
}

.loadEffect {
    width: 120px;
    height: 20px;
    background: 
    linear-gradient(90deg, #ffffff11 33%, #d7d7d755 50%, #efefef11 66%) #f7f7f7;
    background-size: 300% 100%;
    animation: l1 1s infinite linear;
    border: 0 !important;
  }
@keyframes l1 {
    0% {background-position: right}
}

.foot {
    background: #edf7ff;
    text-align: center;
    padding: 2px 0 8px;
    .gongan {
        width: 16px;
        margin-top: -4px;
        margin-right: 4px;
    }
    a {
        text-decoration: none;
        color: #8f8f8f;
        font-size: 12px;
        &.beian {
            margin-left: 20px;
        }
        &:hover {
            color: #337ab7;
        }
    }
}