#app {
  display: none;
}
.submit-cont .form-upload .form-group .rower .uploadType .zip-i {
  display: none;
}
.submit-cont .ctn-part .file-ctn {
  display: none;
}
.submit-cont .ctn-part .file-ctn .zip-type {
  display: none;
}
.submit-cont .ctn-part .file-ctn .drop-mask {
  display: none;
}
.submit-cont .ctn-part .file-ctn .drop-mask .upload-finish.err {
  display: none;
}
.loadEffect {
  width: 120px;
  height: 20px;
  background: linear-gradient(90deg, #ffffff11 33%, #d7d7d755 50%, #efefef11 66%) #f7f7f7;
  background-size: 300% 100%;
  animation: l1 1s infinite linear;
  border: 0 !important;
}
@keyframes l1 {
  0% {
    background-position: right;
  }
}
#app .foot {
  background: transparent;
  text-align: center;
  padding: 36px 0 10px 0px;
  color: #b7b7b7;
  font-size: 14px;
}
#app .foot .gongan {
  width: 16px;
  margin-top: -4px;
  margin-right: 4px;
}
#app .foot a {
  text-decoration: none;
  color: #b7b7b7;
  font-size: 14px;
}
#app .foot a.beian {
  margin-left: 20px;
}
#app .foot a:hover {
  color: #2170d6;
}
#filing-information {
  margin-top: 20px;
}
.uploadTy_label .uploadTy_text {
  color: #5B5B5B;
  font-size: 16px;
  display: inline-block;
  padding-left: 16px;
  position: relative;
  margin-right: 10px;
}
.uploadTy_label .uploadTy_text:after {
  content: "";
  position: absolute;
  background: #2070d6;
  left: 0;
  top: 1px;
  width: 4px;
  height: 20px;
  border-radius: 8px;
}
.uploadTy_label .uploadTy_btn {
  display: inline-block;
  width: 88px;
  height: 32px;
  border: 1px solid #e4e7ed;
  text-align: center;
  line-height: 30px;
  margin-right: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: #666666;
  position: relative;
}
.uploadTy_label .uploadTy_btn img {
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 2px;
  width: 16px;
}
.uploadTy_label .uploadTy_btn img.icon_a {
  display: none;
}
.uploadTy_label .uploadTy_btn img.icon_n {
  display: inline-block;
}
.uploadTy_label .uploadTy_btn.active {
  color: #2070D6;
  border-color: #2070D6;
  background: #ECF5FE;
}
.uploadTy_label .uploadTy_btn.active .icon_a {
  display: inline-block;
}
.uploadTy_label .uploadTy_btn.active .icon_n {
  display: none;
}
.uploadTy_label .uploadTy_btn .recommend {
  width: 36px;
  height: 18px;
  position: absolute;
  top: -10px;
  right: -20px;
  background: #3B68E2;
  border-radius: 9px 9px 9px 0px;
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  display: none;
}
.form-upload {
  margin-top: 16px;
}
.form-upload .upload_block {
  background: #fff;
  width: 100%;
  height: 320px;
  border-radius: 10px;
  padding: 30px 0 30px 20px;
  display: block;
  font-size: 0;
}
.form-upload .upload_block .upload_file {
  width: 46%;
  height: 260px;
  border: 1px dashed #C4C4C4;
  border-radius: 10px;
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.form-upload .upload_block .upload_file.has-error {
  border: 1px solid #ff3636;
}
.form-upload .upload_block .upload_file.has-error:hover {
  border: 1px dashed #ff3636;
}
.form-upload .upload_block .upload_file .file_upload {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.form-upload .upload_block .upload_file .upload_btn {
  width: 140px;
  height: 56px;
  line-height: 56px;
  background: linear-gradient(90deg, #2B8FFE, #1675DD);
  border-radius: 8px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  margin-top: 101px;
  cursor: pointer;
}
.form-upload .upload_block .upload_file .upload_btn img {
  margin-top: 16px;
  margin-right: 2px;
  vertical-align: top;
  width: 24px;
}
.form-upload .upload_block .upload_file .upload_btn .upload-icon {
  display: inline-block;
}
.form-upload .upload_block .upload_file .upload_btn .uploading-icon {
  display: none;
}
.form-upload .upload_block .upload_file .upload_btn.uploading .upload-icon {
  display: none;
}
.form-upload .upload_block .upload_file .upload_btn.uploading .uploading-icon {
  display: inline-block;
}
.form-upload .upload_block .upload_file .upload_tipText {
  font-size: 12px;
  color: #8B8B8B;
  margin-top: 10px;
}
.form-upload .upload_block .upload_file .upload_fileInfo {
  font-size: 12px;
  color: #8B8B8B;
  margin-top: 10px;
  display: none;
}
.form-upload .upload_block .upload_file .upload_fileInfo .files_nameText {
  margin: 0 10px;
  color: #666;
  max-width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: bottom;
}
.form-upload .upload_block .upload_file .upload_fileInfo > img {
  vertical-align: middle;
  margin-top: -3px;
  display: none;
}
.form-upload .upload_block .upload_file .upload_fileInfo .deleteFile {
  cursor: pointer;
}
.form-upload .upload_block .upload_file .errTips {
  color: #ff3636;
  font-size: 12px;
  display: none;
}
.form-upload .upload_block .upload_tips {
  margin-left: 2%;
  display: inline-block;
  vertical-align: top;
}
.form-upload .upload_block .upload_tips .p1 {
  color: #5B5B5B;
  font-size: 14px;
  margin-top: 40px;
}
.form-upload .upload_block .upload_tips .format_size {
  align-items: center;
}
.form-upload .upload_block .upload_tips .format_size .format_block {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
.form-upload .upload_block .upload_tips .format_size .format_block .format_item {
  width: 60px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  text-align: center;
  line-height: 28px;
  color: #2C90FF;
  border: 1px solid #E0E3E9;
  border-radius: 4px;
  margin-right: 8px;
}
.form-upload .upload_block .upload_tips .format_size .size_block {
  display: inline-block;
  vertical-align: top;
  width: 130px;
  height: 30px;
  line-height: 28px;
  color: #acacac;
  font-size: 22px;
  font-weight: 700;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  margin-left: 30px;
  position: relative;
  font-size: 0;
}
.form-upload .upload_block .upload_tips .format_size .size_block:before {
  content: '';
  position: absolute;
  background: #E0E3E9;
  width: 1px;
  height: 28px;
  left: -21px;
}
.form-upload .upload_block .upload_tips .format_size .size_block .size_value {
  font-size: 22px;
  display: inline-block;
  vertical-align: middle;
  line-height: 21px;
}
.form-upload .upload_block .upload_tips .format_size .size_block .size_text {
  width: 50px;
  height: 20px;
  line-height: 20px;
  color: #999;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  background: #f6f6f6;
  font-weight: 400;
  margin: 0 4px 0 5px;
  border-radius: 4px;
  text-align: center;
}
.form-upload .upload_block .upload_tips .format_size .size_block .size_text img {
  margin-top: -2px;
}
.form-upload .upload_block .upload_tips .upload_notes {
  margin-top: 34px;
}
.form-upload .upload_block .upload_tips .upload_notes .notes_subtitle {
  color: #5B5B5B;
  font-size: 14px;
  margin-bottom: 16px;
}
.form-upload .upload_block .upload_tips .upload_notes .p2 {
  color: #999999;
  font-size: 14px;
  position: relative;
  padding-left: 12px;
}
.form-upload .upload_block .upload_tips .upload_notes .p2:after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background: #d8d8d8;
  border-radius: 50%;
  left: 0;
  top: 50%;
  margin-top: -3px;
}
.form-upload .upload_block .upload_tips .upload_notes .p3 {
  color: #999999;
  font-size: 14px;
  position: relative;
  padding-left: 12px;
}
.form-upload .upload_block .upload_tips .upload_notes .p3:after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background: #d8d8d8;
  border-radius: 50%;
  left: 0;
  top: 50%;
  margin-top: -3px;
}
.form-upload .content_block {
  background: #fff;
  width: 100%;
  height: 320px;
  border-radius: 10px;
  padding: 30px 20px 30px 20px;
  position: relative;
  display: none;
}
.form-upload .content_block .border_box {
  border: 1px dashed #c4c4c4;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  padding: 8px 8px 30px 2px;
  background: #fbfbfb;
}
.form-upload .content_block .border_box.has-error {
  border: 1px solid #DC0000;
}
.form-upload .content_block .border_box.has-error:hover {
  border: 1px dashed #DC0000;
}
.form-upload .content_block #textContent {
  resize: none;
  border: none;
  height: 100%;
  background: #fbfbfb;
  padding-top: 0;
  padding-right: 12px;
  color: #555;
  text-align: justify;
}
.form-upload .content_block #textContent:focus {
  box-shadow: none;
}
.form-upload .content_block #textContent::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}
.form-upload .content_block #textContent::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #ccc;
}
.form-upload .content_block #textContent::-webkit-scrollbar {
  width: 5px;
  background: #eee;
}
.form-upload .content_block .counter {
  position: absolute;
  right: 34px;
  bottom: 38px;
  line-height: normal;
  color: #999999;
}
.form-upload .content_block .err-info {
  color: #DC0000;
  font-size: 12px;
  margin-top: 6px;
  display: none;
}
.form-upload .zipFile_block {
  background: #fff;
  width: 100%;
  height: 348px;
  border-radius: 10px;
  position: relative;
  display: none;
}
.form-upload .zipFile_block .zip_description {
  height: 40px;
  line-height: 40px;
  background: #E5F0FF;
  text-align: center;
  color: #999999;
  font-size: 12px;
  margin-top: 16px;
  border-radius: 10px 10px 0 0;
  position: relative;
  display: none;
}
.form-upload .zipFile_block .zip_description .exampleFile_name {
  color: #5B5B5B;
}
.form-upload .zipFile_block .zip_description .example_file {
  display: inline-block;
  background: #fff;
  height: 28px;
  line-height: 28px;
  border-radius: 4px;
  color: #5B5B5B;
  padding: 0 10px;
  cursor: pointer;
}
.form-upload .zipFile_block .zip_description .example_file img {
  margin-top: -4px;
  margin-right: 2px;
}
.form-upload .zipFile_block .zip_description .example_file:hover ~ .file_exampleBlock {
  display: block;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock {
  width: 676px;
  background: #fff;
  z-index: 100;
  position: absolute;
  right: 0;
  top: 46px;
  box-shadow: 0 0 8px 0 #e6eaef;
  border-radius: 4px;
  border: 1px solid #E4E7ED;
  padding: 10px;
  text-align: left;
  color: #5B5B5B;
  display: none;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 362px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom: 8px solid currentColor;
  color: #ffffff;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 360px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid currentColor;
  color: #e4e7ed;
  z-index: -1;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.cnki:before {
  left: 372px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.cnki:after {
  left: 370px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.wanfang:before {
  left: 298px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.wanfang:after {
  left: 296px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.weipu:before {
  left: 320px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.weipu:after {
  left: 318px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.zaojiance:before {
  left: 309px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.zaojiance:after {
  left: 307px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.checkpass:before {
  left: 323px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.checkpass:after {
  left: 321px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.mastercheck:before {
  left: 323px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.mastercheck:after {
  left: 321px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.paperpass:before {
  left: 287px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.paperpass:after {
  left: 285px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.yuanwenjian:before {
  left: 329px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.yuanwenjian:after {
  left: 327px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.cnkiaigc:before {
  left: 320px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.cnkiaigc:after {
  left: 318px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.masteraigc:before {
  left: 286px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.masteraigc:after {
  left: 284px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.wanfangaigc:before {
  left: 288px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.wanfangaigc:after {
  left: 286px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.weipuaigc:before {
  left: 282px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.weipuaigc:after {
  left: 280px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.gzdaigc:before {
  left: 279px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.gzdaigc:after {
  left: 277px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.paperpassaigc:before {
  left: 286px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock.paperpassaigc:after {
  left: 284px;
}
.form-upload .zipFile_block .zip_description .file_exampleBlock .blue {
  color: #2070D6;
}
.form-upload .zipFile_block .Other_Styles {
  color: #1D4B88 !important;
}
.form-upload .zipFile_block .zipFile_upload {
  display: flex;
  align-items: start;
  margin-top: 24px;
  padding: 0 0 0 20px;
}
.form-upload .zipFile_block .zipFile_upload .upload_file {
  width: 46%;
  height: 260px;
  border: 1px dashed #c4c4c4;
  border-radius: 10px;
  text-align: center;
  position: relative;
  flex-shrink: 0;
}
.form-upload .zipFile_block .zipFile_upload .upload_file.has-error {
  border: 1px solid #ff3636;
}
.form-upload .zipFile_block .zipFile_upload .upload_file.has-error:hover {
  border: 1px dashed #ff3636;
}
.form-upload .zipFile_block .zipFile_upload .upload_file .file_upload {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.form-upload .zipFile_block .zipFile_upload .upload_file .upload_btn {
  width: 140px;
  height: 56px;
  line-height: 56px;
  background: linear-gradient(90deg, #2B8FFE, #1675DD);
  border-radius: 8px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  margin-top: 101px;
  cursor: pointer;
}
.form-upload .zipFile_block .zipFile_upload .upload_file .upload_btn img {
  margin-top: 16px;
  margin-right: 2px;
  vertical-align: top;
  width: 24px;
}
.form-upload .zipFile_block .zipFile_upload .upload_file .upload_btn .upload-icon {
  display: inline-block;
}
.form-upload .zipFile_block .zipFile_upload .upload_file .upload_btn .uploading-icon {
  display: none;
}
.form-upload .zipFile_block .zipFile_upload .upload_file .upload_btn.uploading .upload-icon {
  display: none;
}
.form-upload .zipFile_block .zipFile_upload .upload_file .upload_btn.uploading .uploading-icon {
  display: inline-block;
}
.form-upload .zipFile_block .zipFile_upload .upload_file .upload_tipText {
  font-size: 12px;
  color: #8B8B8B;
  margin-top: 10px;
}
.form-upload .zipFile_block .zipFile_upload .upload_file .uploading_tipText {
  font-size: 12px;
  color: #8B8B8B;
  margin-top: 10px;
  display: none;
}
.form-upload .zipFile_block .zipFile_upload .upload_file .upload_fileInfo {
  font-size: 12px;
  color: #8B8B8B;
  margin-top: 10px;
  display: none;
}
.form-upload .zipFile_block .zipFile_upload .upload_file .upload_fileInfo .files_nameText {
  margin: 0 10px;
  color: #666;
  max-width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: bottom;
}
.form-upload .zipFile_block .zipFile_upload .upload_file .upload_fileInfo > img {
  vertical-align: middle;
  margin-top: -3px;
  display: none;
}
.form-upload .zipFile_block .zipFile_upload .upload_file .upload_fileInfo .deleteFile {
  cursor: pointer;
}
.form-upload .zipFile_block .zipFile_upload .upload_file .errTips {
  color: #ff3636;
  font-size: 12px;
  display: none;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips {
  margin-left: 2%;
  padding-right: 20px;
  margin-top: 10px;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips.centered {
  margin-top: 30px;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips .p1 {
  color: #5B5B5B;
  font-size: 14px;
  margin-bottom: 6px;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips .report_type {
  font-size: 0;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips .report_type.cc_typeBtn {
  display: none;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips .report_type.aigc_typeBtn {
  display: none;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips .report_type .report_type_item {
  width: 100px;
  height: 30px;
  line-height: 28px;
  background: #F8F9FB;
  text-align: center;
  display: inline-block;
  margin-right: 8px;
  margin-top: 10px;
  border-radius: 4px;
  color: #666666;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #f8f9fb;
  position: relative;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips .report_type .report_type_item.active {
  border: 1px solid #2170D6;
  background: #EBF5FF;
  background-image: url("../img/check.png");
  background-repeat: no-repeat;
  background-position: 100% -1px;
  color: #2170D6;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips .report_type .report_type_item.special {
  border: 1px solid #2170D6;
  background: #EBF5FF;
  background-repeat: no-repeat;
  background-position: 100% -1px;
  color: #2170D6;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips .report_type .report_type_item.special .Report_label {
  background: #006FFF;
  color: #fff;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips .report_type .report_type_item.noClick {
  pointer-events: none;
  cursor: no-drop;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips .report_type .report_type_item .Report_label {
  position: absolute;
  display: inline-block;
  top: -14px;
  right: -1px;
  background: #E0EEFE;
  border-radius: 6px 6px 0px 6px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  color: #2C7AFF;
  padding: 0px 6px;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips .platform_utl {
  border: 1px solid #E4E7ED;
  height: 32px;
  line-height: 32px;
  margin-top: 10px;
  border-radius: 4px;
  width: 100%;
  outline: none;
  padding-left: 10px;
  color: #666666;
  display: none;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips .platform_utl::placeholder {
  color: #999999;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips .fileType_text {
  margin-top: 20px;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips .format_size {
  display: flex;
  align-items: center;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips .format_size .format_block {
  font-size: 0;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips .format_size .format_block .format_item {
  width: 60px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  text-align: center;
  line-height: 28px;
  color: #2C90FF;
  border: 1px solid #E0E3E9;
  border-radius: 4px;
  margin-right: 8px;
  margin-top: 10px;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips .format_size .size_block {
  width: 130px;
  height: 30px;
  line-height: 28px;
  color: #acacac;
  font-size: 22px;
  font-weight: 700;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  margin-left: 30px;
  position: relative;
  font-size: 0;
  margin-top: 10px;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips .format_size .size_block:before {
  content: '';
  position: absolute;
  background: #E0E3E9;
  width: 1px;
  height: 28px;
  left: -21px;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips .format_size .size_block .size_value {
  font-size: 22px;
  display: inline-block;
  vertical-align: middle;
  line-height: 21px;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips .format_size .size_block .size_text {
  width: 50px;
  height: 20px;
  line-height: 20px;
  color: #999;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  background: #f6f6f6;
  font-weight: 400;
  margin: 0 4px 0 5px;
  border-radius: 4px;
  text-align: center;
}
.form-upload .zipFile_block .zipFile_upload .upload_tips .format_size .size_block .size_text img {
  margin-top: -2px;
}
.submit-row {
  margin-top: 20px;
}
.submit-row .priceTips {
  margin-top: 12px;
}
.attention-list {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  background: #F6FBFF;
  border-radius: 10px;
  padding: 26px 20px 20px;
  height: calc(100% - 608px - 20px);
}
.attention-list.s-height {
  height: calc(100% - 636px - 20px);
}
.attention-list h6 {
  color: #5b5b5b;
  font-size: 16px;
  display: inline-block;
  padding-left: 16px;
  position: relative;
  margin-right: 10px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 26px;
}
.attention-list h6:after {
  content: "";
  position: absolute;
  background: #2070d6;
  left: 0;
  top: -1px;
  width: 4px;
  height: 20px;
  border-radius: 8px;
}
.attention-list ul {
  background: #fff;
  background-image: url('../img/img2.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  height: calc(100% - 40px);
  padding: 20px;
  border-radius: 10px;
}
.attention-list ul li {
  color: #666666;
  line-height: 36px;
  font-size: 14px;
  font-weight: normal;
}
.noMarginRight {
  margin-right: 0 !important;
}
@media screen and(max-width: 1574px) {
  .form-upload .upload_block .upload_file {
    width: 44%;
  }
  .form-upload .zipFile_block .zipFile_upload .upload_file {
    width: 44%;
  }
}
@media screen and(max-width: 1518px) {
  .form-upload .upload_block .upload_tips .upload_notes .p2 {
    font-size: 13px;
  }
  .form-upload .upload_block .upload_tips .upload_notes .p3 {
    font-size: 13px;
  }
  .form-upload .zipFile_block .zipFile_upload .upload_tips {
    margin-top: -2px;
  }
  .form-upload .zipFile_block .zipFile_upload .upload_tips .report_type_item.noMarginRight {
    margin-right: 8px !important;
  }
}
.footer {
  display: flex;
  justify-content: center;
}
.footer #company-name {
  margin-left: 6px;
}
.footer .company {
  padding: 36px 0 10px 0px;
  color: #b7b7b7;
  font-size: 14px;
}
