.order-cont {
  position: relative;
}
.order-cont .dialog-scan .dialoger {
  width: 364px;
  color: #000;
  text-align: center;
}
.order-cont .dialog-scan .dialoger .hd {
  padding-top: 30px;
}
.order-cont .dialog-scan .dialoger .hd .tit {
  font-size: 18px;
  margin: 0;
}
.order-cont .dialog-scan .dialoger .bd {
  margin: 40px 0;
}
.order-cont .dialog-scan .dialoger .bd .div-img {
  width: 225px;
  height: 225px;
}
.order-cont .dialog-scan .dialoger .fd {
  background-color: #f5f5f5;
  padding: 18px;
}
.order-cont .dialog-scan .dialoger .fd a {
  color: #000;
}
.order-cont .dialog-scan .dialoger .fd-finish {
  text-align: center;
  padding-bottom: 30px;
  margin-top: -20px;
}
.order-cont .dialog-scan .dialoger .fd-finish .btn {
  color: #fff;
  background-color: #2170d6;
  padding: 0px;
  height: 54px;
  line-height: 54px;
  width: 225px;
  font-size: 18px;
}
.order-cont .order-msg {
  font-size: 16px;
  padding: 20px 30px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}
.order-cont .order-msg.payBox {
  min-height: 534px;
}
.order-cont .order-msg .row-label {
  margin-bottom: 18px;
}
.order-cont .order-msg .row-label .icon-step {
  width: 24px;
  height: 24px;
  line-height: 23px;
  display: inline-block;
  background: url("../img/icon-dibiao.png") no-repeat center center;
  background-size: contain;
  color: white;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  font-size: 12px;
}
.order-cont .order-msg .row-label p {
  display: inline-block;
  font-size: 16px;
  color: #34495e;
  font-weight: 700;
  margin-bottom: 0;
  vertical-align: middle;
  margin-left: 6px;
}
.order-cont .order-msg .row-label p span {
  color: #2170d6;
}
.order-cont .order-msg .row-cont {
  border-top: 1px solid #f4f4f4;
  padding-top: 20px;
}
.order-cont .order-msg .row-cont .msg-list {
  margin-bottom: 6px;
}
.order-cont .order-msg .row-cont .msg-list li {
  position: relative;
  padding-left: 100px;
  height: 50px;
}
.order-cont .order-msg .row-cont .msg-list li label {
  color: #999999;
  font-size: 14px;
  line-height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
.order-cont .order-msg .row-cont .msg-list li > div.special {
  padding: 0 30px;
  border: 1px solid #f4f4f4;
  background: #f4f4f4;
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#e3f2ff", endColorstr="#ffffff", gradientType="0");
  background: linear-gradient(to top right, #e3f2ff, #ffffff 100%);
  background: -webkit-linear-gradient(to top right, #e3f2ff, #ffffff 100%);
  background: -moz-linear-gradient(to top right, #e3f2ff, #ffffff);
  background: -o-linear-gradient(to top right, #e3f2ff, #ffffff);
  background: -ms-linear-gradient(to top right, #e3f2ff, #ffffff);
}
.order-cont .order-msg .row-cont .msg-list li > div.special span {
  vertical-align: middle;
  line-height: 50px;
}
.order-cont .order-msg .row-cont .msg-list li > div.special .file-type {
  font-size: 18px;
  color: #2170d6;
  font-weight: bold;
}
.order-cont .order-msg .row-cont .msg-list li > div.special .version {
  color: #3d9df5;
  border: 1px solid #3d9df5;
  background-color: #deeeff;
  font-size: 14px;
  padding: 0 3px;
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.order-cont .order-msg .row-cont .msg-list li > div.special .tit {
  width: 53%;
  display: inline-block;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #b3b3b3;
  height: 30px;
  line-height: 30px;
}
.order-cont .order-msg .row-cont .msg-list li > div.special .suggest-price {
  font-size: 19px;
  color: #2170d6;
  font-weight: bold;
  position: relative;
}
.order-cont .order-msg .row-cont .msg-list li > div.special .suggest-price .over-tips {
  position: absolute;
  background: #fff;
  border: 1px solid #f5f5f5;
  z-index: 10000;
  font-size: 14px;
  padding: 10px 20px;
  line-height: 26px;
  top: 0;
  right: -180px;
  color: #585757;
  display: none;
}
.order-cont .order-msg .row-cont .msg-list li > div.special .suggest-price i {
  font-size: 15px;
  font-style: normal;
  position: relative;
  top: 0px;
  left: 3px;
}
.order-cont .order-msg .row-cont .msg-list li > div.special .suggest-price img {
  cursor: pointer;
}
.order-cont .order-msg .row-cont .msg-list li > div.special .suggest-price img:hover + .over-tips {
  display: block;
}
.order-cont .order-msg .row-cont .msg-list li > div #copyInput2 {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.order-cont .order-msg .row-cont .msg-list li > div .tips_oid {
  font-size: 14px;
  color: #858585;
}
.order-cont .order-msg .row-cont .msg-list li > div .copy_oid {
  color: #2170d6;
  text-decoration: underline;
  font-size: 14px;
  margin-left: 20px;
  cursor: pointer;
}
.order-cont .order-msg .row-cont .coupon input {
  width: 242px;
  height: 34px;
  padding-left: 20px;
  border: 1px solid #dedede;
  outline: none;
  vertical-align: middle;
  padding-right: 40px;
  font-size: 14px;
  margin-right: 10px;
  border-radius: 4px;
}
.order-cont .order-msg .row-cont .coupon .btn-exchange {
  padding: 0px;
  border-radius: 4px;
  display: inline-block;
  width: 91px;
  height: 34px;
  background-color: #2170d6;
  color: white;
  text-align: center;
  vertical-align: middle;
  margin-left: -6px;
  outline: none;
  transition: 0.2s;
  font-size: 14px;
}
.order-cont .order-msg .row-cont .coupon .btn-exchange:active {
  background-color: #0858af !important;
}
.order-cont .order-msg .row-cont .coupon .eliminateCoupon {
  width: 16px;
  height: 16px;
  background-image: url("../img/clear.png");
  background-repeat: no-repeat;
  margin-left: -35px;
  margin-right: 14px;
  vertical-align: middle;
  margin-top: 1px;
  cursor: pointer;
  display: none;
}
.order-cont .order-msg .row-cont .coupon .eliminateCoupon:hover {
  background-image: url("../img/clear-pr.png");
  background-repeat: no-repeat;
}
.order-cont .order-msg .row-cont .coupon .use_now {
  background: #59a2ff;
  pointer-events: none;
  cursor: default;
}
.order-cont .order-msg .row-cont .coupon .use_now .Exchange_loading {
  display: none;
  width: 14px;
  position: relative;
  top: -1px;
  left: -2px;
}
.order-cont .order-msg .row-cont .coupon .use_now.can {
  background: #2170d6;
  pointer-events: auto;
  cursor: pointer;
}
.order-cont .order-msg .row-cont .coupon .welfare-entrance {
  display: none;
  width: 100px;
  height: 34px;
  margin-left: 4px;
  background: linear-gradient(180deg, #FFEFE8 3%, #FFE6EF 100%);
  color: #E20000;
  font-size: 14px;
  border-radius: 4px;
  line-height: 34px;
  cursor: pointer;
  transition: all 0.3s;
  vertical-align: middle;
}
.order-cont .order-msg .row-cont .coupon .welfare-entrance a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.order-cont .order-msg .row-cont .coupon .welfare-entrance:hover {
  background: linear-gradient(180deg, #FFE5DB 3%, #FFD9F6 100%);
}
.order-cont .order-msg .row-cont .coupon .welfare-entrance img {
  margin-left: 7px;
  position: relative;
  top: -3px;
}
.order-cont .order-msg .row-cont .coupon .change-res-tip {
  color: #d82006;
  font-size: 14px;
  display: none;
  vertical-align: middle;
  position: absolute;
  top: 22px;
  left: 85px;
  margin-left: 20px;
}
.order-cont .order-msg .row-cont .coupon .change-res-tip img {
  margin-top: -2px;
}
.order-cont .order-msg .row-cont .coupon .activityTip {
  display: none;
  margin-left: 10px;
  color: #d81e06;
  font-size: 12px;
}
.order-cont .order-msg .row-cont .coupon .Exchange_hidden {
  display: inline-block;
}
.order-cont .order-msg .row-cont .coupon .errorTip1 {
  display: inline-block;
  display: none;
  width: 342px;
  height: 34px;
  line-height: 34px;
  background: #F5FBFF;
  border-radius: 6px 6px 6px 6px;
  border: 1px solid #BDE3FF;
  font-size: 12px;
  color: #333333;
  padding-left: 10px;
  margin-right: 4px;
  float: left;
}
.order-cont .order-msg .row-cont .coupon .errorTip1 .Picture_event {
  float: right;
  margin-top: 8px;
  margin-right: 10px;
  cursor: pointer;
}
.order-cont .order-msg .row-cont .coupon .errorTip1 .Picture_event1 {
  float: right;
  display: none;
  margin-top: 8px;
  margin-right: 10px;
}
.order-cont .order-msg .row-cont .coupon .errorTip1 .Coupondisabled.Coupon_dis {
  text-decoration: line-through;
}
.order-cont .order-msg .row-cont .payment .pay-label li {
  display: inline-block;
  width: 195px;
  line-height: 48px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  margin-right: 30px;
  border: 1px solid #dedede;
  background-color: #f6f6f6;
}
.order-cont .order-msg .row-cont .payment .pay-label li img {
  margin-right: 12px;
}
.order-cont .order-msg .row-cont .payment .pay-label li.disabled {
  cursor: not-allowed;
}
.order-cont .order-msg .row-cont .payment .pay-label li.active {
  background-color: #e8f2ff;
  border: 1px solid #169ae4;
}
.order-cont .order-msg .row-cont .payment .qr-place {
  width: 570px;
  height: 200px;
  margin-top: 18px;
}
.order-cont .order-msg .row-cont .payment .qr-place .qr-part {
  width: 84%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #dedede;
  border-right: none;
  padding: 20px;
  position: relative;
}
.order-cont .order-msg .row-cont .payment .qr-place .qr-part .qr-img {
  width: 158px;
  height: 158px;
  position: absolute;
  left: 20px;
  top: 20px;
}
.order-cont .order-msg .row-cont .payment .qr-place .qr-part .qr-img img {
  width: 158px;
}
.order-cont .order-msg .row-cont .payment .qr-place .qr-part .qr-img .mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
.order-cont .order-msg .row-cont .payment .qr-place .qr-part .qr-img .qr-gif {
  position: absolute;
  z-index: 100;
  width: 75px;
  height: 75px;
  left: 45px;
  top: 40px;
}
.order-cont .order-msg .row-cont .payment .qr-place .qr-part .qr-img .qr-gif .resendOrder {
  font-size: 20px;
  text-align: center;
  color: white;
  width: 100%;
  cursor: pointer;
}
.order-cont .order-msg .row-cont .payment .qr-place .qr-part .qr-img .qr-gif .resendOrder img {
  width: 46px;
  margin-bottom: 10px;
}
.order-cont .order-msg .row-cont .payment .qr-place .qr-part .qr-img .qr-gif .resendOrder p {
  font-size: 18px;
}
.order-cont .order-msg .row-cont .payment .qr-place .qr-part .qr-msg {
  margin-left: 188px;
  height: inherit;
  text-align: left;
}
.order-cont .order-msg .row-cont .payment .qr-place .qr-part .qr-msg .alli-agent-needpay {
  font-size: 14px;
  color: #3b3b3b;
  margin-bottom: 14px;
}
.order-cont .order-msg .row-cont .payment .qr-place .qr-part .qr-msg .alli-agent-needpay span {
  font-weight: bold;
}
.order-cont .order-msg .row-cont .payment .qr-place .qr-part .qr-msg .alli-agent-needpay .s {
  font-size: 12px;
}
.order-cont .order-msg .row-cont .payment .qr-place .qr-part .qr-msg .alli-agent-needpay .l {
  font-size: 36px;
}
.order-cont .order-msg .row-cont .payment .qr-place .qr-part .qr-msg .dd-je,
.order-cont .order-msg .row-cont .payment .qr-place .qr-part .qr-msg .coupon-je {
  color: #8a8a8a;
  font-size: 12px;
}
.order-cont .order-msg .row-cont .payment .qr-place .qr-part .qr-msg .count {
  font-size: 12px;
  color: #b5b5b5;
  line-height: 16px;
}
.order-cont .order-msg .row-cont .payment .qr-place .qr-part .qr-msg .count .tip-time {
  color: red;
}
.order-cont .order-msg .row-cont .payment .qr-place .qr-right {
  width: 16%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 45px 0;
}
.order-cont .order-msg .row-cont .payment .qr-place .qr-right .qr-right-txtt {
  font-size: 18px;
  font-weight: lighter;
  color: white;
  margin-top: 32px;
}
.order-cont .order-msg .row-cont .payment .qr-place.wx .qr-part .alli-agent-needpay span,
.order-cont .order-msg .row-cont .payment .qr-place.wx .qr-part .qr-msg .count a {
  color: #24af41;
}
.order-cont .order-msg .row-cont .payment .qr-place.wx .qr-right {
  background-color: #24af41;
}
.order-cont .order-msg .row-cont .payment .qr-place.alipay .qr-part .alli-agent-needpay span,
.order-cont .order-msg .row-cont .payment .qr-place.alipay .qr-part .qr-msg .count a {
  color: #2170d6;
}
.order-cont .order-msg .row-cont .payment .qr-place.alipay .qr-right {
  background-color: #2170d6;
}
.order-cont .order-msg .row-cont .payment .des-btn {
  margin-top: 20px;
}
.order-cont .order-msg .row-cont .payment .des-btn button {
  width: 132px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  border: none;
}
.order-cont .order-msg .row-cont .payment .des-btn button.v1 {
  color: #2170d6;
  background-color: #d4e7ff;
}
.order-cont .order-msg .row-cont .payment .des-btn button.v2 {
  color: white;
  background-color: #2170d6;
  margin-left: 10px;
}
.order-cont .color-block {
  width: 100%;
  height: 18px;
  background-color: transparent;
}
.order-cont .clearfix2 {
  overflow: hidden;
  margin-top: 26px;
}
.order-cont .clearfix2 .payType .select {
  line-height: 48px;
  background: url("../img/select.png") no-repeat;
  background-size: 100% 100%;
  border-image-slice: 1;
  background-color: #fff;
}
.order-cont .clearfix2 .tbPay {
  display: none;
  padding-left: 20px;
  padding-bottom: 24px;
}
.order-cont .clearfix2 .tbPay .Options {
  margin-bottom: 16px;
  border-bottom: 2px solid #f7f7f7;
  height: 36px;
  width: 412px;
}
.order-cont .clearfix2 .tbPay .Options > div {
  float: left;
  width: 100px;
  color: #545454;
  font-size: 14px;
  height: 36px;
  border-bottom: 2px solid #f7f7f7;
  position: relative;
  bottom: -1px;
  z-index: 10;
  cursor: pointer;
}
.order-cont .clearfix2 .tbPay .Options #XHS {
  margin-right: 20px;
  display: none;
}
.order-cont .clearfix2 .tbPay .Options #TB {
  padding-left: 6px;
  display: none;
}
.order-cont .clearfix2 .tbPay .Options #XHS.Select {
  border-bottom-color: #fd2442;
}
.order-cont .clearfix2 .tbPay .Options #TB.Select {
  border-bottom-color: #fc8848;
}
.order-cont .clearfix2 .tbPay .main {
  width: 480px;
}
.order-cont .clearfix2 .tbPay.errInput {
  border-color: #ff2525;
}
.order-cont .clearfix2 .tbPay .tb-head {
  height: 46px;
  line-height: 46px;
  padding: 0 25px;
  font-size: 16px;
  border-bottom: 1px solid #cfcececc;
}
.order-cont .clearfix2 .tbPay .tb-head .tb-tips {
  color: #979797;
  font-size: 12px;
  font-weight: normal;
  margin-left: 10px;
}
.order-cont .clearfix2 .tbPay .tb-head .tb-buy {
  width: 120px;
  height: 30px;
  background: #ff8400;
  line-height: 30px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  margin-top: 8px;
  font-size: 12px;
  vertical-align: text-bottom;
  position: relative;
}
.order-cont .clearfix2 .tbPay .tb-head .tb-buy a {
  display: inline-block;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.order-cont .clearfix2 .tbPay .tb-head .tb-buy img {
  vertical-align: text-bottom;
}
.order-cont .clearfix2 .tbPay .tb-content .tb-idBox {
  position: relative;
}
.order-cont .clearfix2 .tbPay .tb-content .tb-idBox label {
  color: #979797;
  font-size: 12px;
  font-weight: normal;
  margin-right: 14px;
}
.order-cont .clearfix2 .tbPay .tb-content .tb-idBox .tb-oid {
  width: 70%;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}
.order-cont .clearfix2 .tbPay .tb-content .tb-idBox .tb-oid.noMarginTop {
  margin-top: 0;
}
.order-cont .clearfix2 .tbPay .tb-content .tb-idBox .tb-oid.errInput {
  border-color: red;
}
.order-cont .clearfix2 .tbPay .tb-content .tb-idBox .tb-tips {
  color: #979797;
  font-size: 12px;
  font-weight: normal;
}
.order-cont .clearfix2 .tbPay .tb-content .errTip {
  color: #e91616;
  font-size: 12px;
  margin-top: 14px;
  display: none;
}
.order-cont .clearfix2 .tbPay .tb-content .tb-payOrder {
  background: linear-gradient(45deg, #3798ff, #1184fc);
  width: 90px;
  height: 32px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  margin-top: 16px;
  display: inline-block;
}
.order-cont .clearfix2 .tbPay .tb-content .Three_party {
  display: inline-block;
  font-size: 14px;
  color: #545454;
  margin-left: 10px;
}
.order-cont .clearfix2 .tbPay .tb-content .Three_party span:nth-child(1) {
  font-size: 12px;
  color: #218CFD;
  margin-left: 6px;
}
.order-cont .clearfix2 .tbPay .tb-content .Three_party span:nth-child(2) {
  font-size: 16px;
  color: #218CFD;
  font-weight: bold;
}
.order-cont .clearfix2 .tbPay .tb-content .Three_party span:nth-child(3) {
  font-size: 12px;
  color: #999999;
}
.order-cont .backHome {
  width: 170px;
  height: 40px;
  color: #ffffff;
  background-color: #1384de;
  margin-top: 30px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.order-cont .backHome:hover {
  box-shadow: 0 0 8px 0px #1384de;
}
.order-cont .backHome a {
  color: inherit;
  padding: 11px 50px;
}
.order-cont .payType {
  width: 170px;
  color: #545454;
  font-size: 14px;
  margin-right: 40px;
  user-select: none;
}
.order-cont .payType > div {
  background-color: #f5f5f5;
  border-radius: 4px;
  cursor: pointer;
  width: 170px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 20px;
}
.order-cont .payType img {
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.order-cont .payType span {
  width: 80px;
  display: inline-block;
  text-align: left;
  margin-left: 10px;
}
.order-cont .code {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 30px;
  display: none;
}
.order-cont .code .tips {
  margin-top: 24px;
  position: absolute;
  width: 100%;
  left: 4px;
  color: #333333;
  font-size: 12px;
}
.order-cont .code .codeER {
  background: url("../img/codeERbg.png") no-repeat;
  width: 169px;
  height: 169px;
  padding: 18px;
  position: relative;
}
.order-cont .code .load {
  position: absolute;
  left: 18px;
  top: 18px;
}
.order-cont .code .load img {
  width: 135px;
  height: 135px;
}
.order-cont .code .mask {
  backdrop-filter: blur(2px);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  padding-top: 47px;
  display: none;
  text-align: center;
  cursor: pointer;
}
.order-cont .code .mask p {
  line-height: 30px;
  font-size: 18px;
  color: #fff;
}
.order-cont .titlesRight {
  padding-left: 30px;
}
.order-cont .titlesRight .amount {
  color: #545454;
  font-size: 14px;
}
.order-cont .titlesRight .amount span {
  font-weight: bold;
  font-size: 36px;
  color: #0090ff;
}
.order-cont .titlesRight .amount b {
  color: #0090ff;
  font-size: 18px;
  margin-left: 16px;
}
.order-cont .titlesRight .amount .Discountamount {
  font-weight: 400;
  font-size: 12px;
  color: #D81E06;
  display: none;
}
.order-cont .titlesRight .payTypes {
  height: 30px;
  line-height: 30px;
  color: #333333;
  font-size: 12px;
}
.order-cont .titlesRight .payTypes img {
  width: 20px;
  height: 20px;
}
.order-cont .titlesRight.payTypeClass .payTypes {
  margin-top: 6px;
}
.order-cont .titlesRight.payTypeClass .amount {
  margin: 14px 0;
}
.order-cont .auxiliary {
  color: #999999;
  font-size: 12px;
  margin-top: 10px;
  user-select: none;
  background-color: #f8f8f8;
  display: inline-block;
  padding: 8px 10px;
}
.order-cont .auxiliary .time {
  color: #ff5400;
}
.order-cont .auxiliary .next {
  color: #008fff;
  cursor: pointer;
  text-decoration: underline;
}
.order-cont .auxiliary > .next:hover {
  color: #3fa4f1;
}
.order-cont .tipsBox {
  margin-top: 20px;
  font-size: 14px;
  display: none;
}
.order-cont .tipsBox .typeTips {
  display: inline-block;
  color: #4c4c4c !important;
}
.order-cont .tipsBox .typeTips img {
  margin-right: 4px;
  margin-top: -3px;
  display: none;
}
.order-cont .tipsBox .typeTips span {
  margin-left: 4px;
}
.order-cont .tipsBox .typeTips span.scanCodeRichWxText,
.order-cont .tipsBox .typeTips span.scanCodeRichAlipayText {
  margin-left: 0;
}
.order-cont .tipsDiv {
  position: absolute;
  top: 20px;
  cursor: pointer;
}
.order-cont .tipsDiv img {
  width: 14px;
  height: 14px;
}
.order-cont .tipsDiv:hover div {
  display: block;
}
.order-cont .tipsDiv div {
  position: absolute;
  left: 24px;
  top: -2px;
  width: 180px;
  color: #a2a0a0;
  display: none;
  font-size: 12px;
}
.order-cont .tipsDiv {
  position: absolute;
  top: 20px;
  cursor: pointer;
}
.order-cont .tipsDiv img {
  width: 14px;
  height: 14px;
}
.order-cont .tipsDiv:hover div {
  display: block;
}
.order-cont .tipsDiv div {
  position: absolute;
  left: 24px;
  top: -2px;
  width: 180px;
  color: #a2a0a0;
  display: none;
  font-size: 12px;
}
.order-cont .tipsDiv2 {
  position: absolute;
  top: 10px;
}
.order-cont .tipsDiv2 img {
  width: 14px;
  height: 14px;
}
.order-cont .tipsDiv2 div {
  position: absolute;
  left: 20px;
  top: 0px;
  width: 160px;
  color: #a2a0a0;
  font-size: 12px;
}
.coupon_pop {
  width: 402px;
  height: 232px;
  background: #fff;
  position: fixed;
  z-index: 1003;
  top: 50%;
  left: 50%;
  margin-top: -101px;
  margin-left: -201px;
  border-radius: 12px;
  display: none;
}
.coupon_pop #copyInput {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.coupon_pop .pop_top {
  height: 46px;
  border-bottom: 1px solid #dddddd;
  padding: 0 22px;
}
.coupon_pop .pop_top .pop_title {
  float: left;
  font-size: 18px;
  color: #252525;
  line-height: 46px;
}
.coupon_pop .pop_top img {
  width: 14px;
  vertical-align: middle;
  float: right;
  margin-top: 16px;
  cursor: pointer;
}
.coupon_pop .pop_cont .p1 {
  color: #006dff;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 14px;
}
.coupon_pop .pop_cont .back_block {
  width: 320px;
  height: 60px;
  background: #f0f6ff;
  margin: 0 auto;
  padding: 12px 0;
}
.coupon_pop .pop_cont .back_block .p2 {
  color: #333333;
  font-size: 12px;
  text-align: center;
  margin-bottom: 4px;
}
.coupon_pop .pop_cont .back_block .p2 .orderId_pop {
  margin-left: 4px;
}
.coupon_pop .pop_cont .back_block .p2 span.copy_pop {
  color: #005fdd;
  text-decoration: underline;
  margin-left: 6px;
  cursor: pointer;
}
.coupon_pop .pop_cont .back_block .p3 {
  color: #5d5d5d;
  text-align: center;
  font-size: 12px;
}
.coupon_pop .pop_bottom {
  height: 66px;
  padding: 16px 136px 0;
}
.coupon_pop .pop_bottom .cancel_btn {
  width: 60px;
  height: 34px;
  background: #f2f2f2;
  color: #777777;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  line-height: 34px;
  float: left;
  cursor: pointer;
}
.coupon_pop .pop_bottom .cancel_btn:hover {
  background: #e5e5e5;
}
.coupon_pop .pop_bottom .cancel_btn:active {
  background: #d3d3d3;
}
.coupon_pop .pop_bottom .determine_btn {
  width: 60px;
  height: 34px;
  background: #006dff;
  color: #ffffff;
  border-radius: 6px;
  float: left;
  font-size: 14px;
  text-align: center;
  line-height: 34px;
  margin-left: 10px;
  cursor: pointer;
}
.coupon_pop .pop_bottom .determine_btn:hover {
  background: #0261df;
}
.coupon_pop .pop_bottom .determine_btn:active {
  background: #0458c9;
}
.mask_body {
  position: fixed;
  background: #000;
  z-index: 1002;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  display: none;
}
.loginButton {
  display: none !important;
}
.Coupon_exceeds {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  display: none;
}
.Coupon_exceeds .couponbox {
  width: 340px;
  height: 156px;
  background: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  position: fixed;
  top: 38%;
  left: 42%;
  padding: 16px;
}
.Coupon_exceeds .head_coupon {
  float: right;
}
.Coupon_exceeds .head_coupon:hover .Coupon_closure {
  display: none;
}
.Coupon_exceeds .head_coupon:hover .Coupon_closure1 {
  display: inline;
}
.Coupon_exceeds .body_coupon {
  text-align: center;
  font-size: 16px;
  color: #3D3D3D;
  margin-top: 38px;
}
.Coupon_exceeds .body_coupon img {
  position: relative;
  top: -2px;
  left: -1px;
}
.Coupon_exceeds .bottom_coupon {
  text-align: center;
  margin-top: 18px;
}
.Coupon_exceeds .bottom_coupon span {
  display: inline-block;
  width: 68px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  border-radius: 4px 4px 4px 4px;
  margin-right: 12px;
  font-size: 14px;
  cursor: pointer;
}
.Coupon_exceeds .Coupon_cancellation {
  color: #606266;
  background: #FFFFFF;
  border: 1px solid #DCDFE6;
}
.Coupon_exceeds .Coupon_cancellation:hover {
  background: #F0F7FF;
  border: 1px solid #C0DAFB;
  color: #2170D6;
}
.Coupon_exceeds .Coupon_confirmation {
  color: #FFFFFF;
  background: #2170D6;
  border: 1px solid #2170D6;
}
.Coupon_exceeds .Coupon_confirmation:hover {
  background: #1663C7;
  border: 1px solid #1663C7;
}
.Coupon_exceeds .Coupon_closure1 {
  display: none;
}
.coupon {
  height: 34px;
}
