body {
  background: linear-gradient(162deg, #FFF4E2 0%, #FFFFFF 49%, #FFF6F6 100%);
  padding-bottom: 24px;
}
html {
  min-height: 100vh;
}
.haderNav {
  background: #ffffff;
}
.container.mainDiv {
  padding-top: 104px;
}
.check-order {
  width: 100%;
  padding: 28px 48px 2px;
  background: #FFFFFF;
  box-shadow: 0px 0px 6px 0px rgba(229, 224, 246, 0.35);
  border-radius: 10px;
  border: 1px solid rgba(236, 233, 255, 0.32);
}
.check-order .back_home {
  display: inline-block;
  color: #666;
  font-size: 14px;
  margin-bottom: 24px;
  cursor: pointer;
}
.check-order .back_home:hover {
  color: #ff7e3a;
  text-decoration: none;
}
.check-order .head {
  border-bottom: 1px solid #f1f4f8;
  padding-bottom: 20px;
}
.check-order .head img {
  vertical-align: middle;
  margin-right: 8px;
  margin-top: -1px;
}
.check-order .head .label-t {
  font-size: 16px;
  color: #2C1902;
  font-weight: bold;
  vertical-align: middle;
  margin-top: -1px;
  position: relative;
  top: 1px;
}
.check-order .head .order-text {
  color: #b7bccb;
  font-size: 14px;
  vertical-align: middle;
  margin-left: 40px;
  position: relative;
}
.check-order .head .order-text:after {
  content: '';
  position: absolute;
  height: 16px;
  width: 2px;
  background: #dadde4;
  top: 2px;
  left: -22px;
}
.check-order .head .order-oid {
  font-size: 14px;
  color: #5e6582;
  margin-left: 2px;
  vertical-align: middle;
}
.check-order .order-info {
  margin-top: 20px;
}
.check-order .order-info .orderInformation thead {
  background: #f6f6f6;
  height: 40px;
  font-size: 14px;
  color: #292b44;
  font-weight: normal;
}
.check-order .order-info .orderInformation thead tr th {
  border-bottom: none;
  font-weight: normal;
  line-height: 22px;
}
.check-order .order-info .orderInformation thead tr th.title {
  padding-left: 42px;
}
.check-order .order-info .orderInformation thead tr th.center {
  text-align: center;
}
.check-order .order-info .orderInformation tbody.tbody td {
  font-size: 14px;
  color: #292b44;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  border-top: none;
}
.check-order .order-info .orderInformation tbody.tbody td.title {
  padding-left: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 400px;
}
.check-order .order-info .orderInformation tbody.tbody td.center {
  text-align: center;
}
.check-order .order-info .orderInformation tbody.tbody td.redText {
  color: #ff001e;
}
.check-order .order-info .orderInformation tbody.tbody td.order-author {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
}
.check-order .order-info .orderInformation tbody.tbody td.price-t {
  color: #FF413D;
  font-size: 16px;
  font-weight: bold;
}
.check-order .order-info .orderInformation tbody.tbody td.price-t .order-price {
  font-size: 22px;
}
.payBox {
  background-image: url("../../img/image_d.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding: 30px 40px;
  margin-top: 24px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 6px 0px rgba(229, 224, 246, 0.35);
  border-radius: 10px;
  border: 1px solid rgba(236, 233, 255, 0.32);
  min-height: 540px;
}
.payBox .coupon-block .head img {
  vertical-align: middle;
  margin-right: 10px;
  position: relative;
  top: 1px;
}
.payBox .coupon-block .head .label-t {
  font-size: 16px;
  color: #2C1902;
  font-weight: bold;
  vertical-align: middle;
  position: relative;
  top: 1px;
}
.payBox .coupon-block .card {
  font-size: 0;
}
.payBox .coupon-block .card input#coupon {
  width: 242px;
  height: 35px;
  box-shadow: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin-top: 20px;
  margin-right: 10px;
  padding-right: 30px;
  display: inline-block;
}
.payBox .coupon-block .card input#coupon:focus {
  border-color: #ff7e3a;
}
.payBox .coupon-block .card .eliminateCoupon {
  width: 16px;
  height: 16px;
  background-image: url(../../img/clear.png);
  background-repeat: no-repeat;
  margin-left: -36px;
  margin-right: 20px;
  vertical-align: middle;
  margin-top: -8px;
  cursor: pointer;
  display: none;
}
.payBox .coupon-block .card .eliminateCoupon:hover {
  background-image: url("../../img/clear-pr.png");
  background-repeat: no-repeat;
}
.payBox .coupon-block .card .use_now {
  display: inline-block;
  width: 80px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #ff6865;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: not-allowed;
  pointer-events: none;
}
.payBox .coupon-block .card .use_now.can {
  background: #FF413D;
  cursor: pointer;
  pointer-events: auto;
}
.payBox .coupon-block .card .errorTip {
  display: none;
  margin-left: 10px;
  color: #d81e06;
  font-size: 12px;
}
.payBox .coupon-block .card .errorTip img {
  vertical-align: sub;
  margin-right: 6px;
}
.payBox .coupon-block .card .activityTip {
  display: none;
  margin-left: 20px;
  color: #d81e06;
  font-size: 12px;
}
.payBox .pay-block {
  margin-top: 30px;
}
.payBox .pay-block .head img {
  vertical-align: middle;
  margin-right: 10px;
  position: relative;
  top: 1px;
}
.payBox .pay-block .head .label-t {
  font-size: 16px;
  color: #2C1902;
  font-weight: bold;
  vertical-align: middle;
  position: relative;
  top: 2px;
}
.payBox .pay-block .clearfix2 {
  overflow: hidden;
  margin-top: 26px;
}
.payBox .pay-block .clearfix2 .payType .select {
  line-height: 50px;
  background: url("../../img/select.png") no-repeat;
  background-size: 100% 100%;
  border-image-slice: 1;
  background-color: #fff;
}
.payBox .pay-block .clearfix2 .tbPay {
  display: none;
  padding-left: 20px;
  padding-bottom: 24px;
}
.payBox .pay-block .clearfix2 .tbPay .Options {
  margin-bottom: 16px;
  border-bottom: 2px solid #f7f7f7;
  height: 36px;
  width: 412px;
}
.payBox .pay-block .clearfix2 .tbPay .Options > div {
  float: left;
  width: 100px;
  color: #545454;
  font-size: 14px;
  height: 36px;
  border-bottom: 2px solid #f7f7f7;
  position: relative;
  bottom: -1px;
  z-index: 10;
  cursor: pointer;
}
.payBox .pay-block .clearfix2 .tbPay .Options #XHS {
  margin-right: 20px;
  display: none;
}
.payBox .pay-block .clearfix2 .tbPay .Options #TB {
  padding-left: 6px;
  display: none;
}
.payBox .pay-block .clearfix2 .tbPay .Options #XHS.Select {
  border-bottom-color: #fd2442;
}
.payBox .pay-block .clearfix2 .tbPay .Options #TB.Select {
  border-bottom-color: #fc8848;
}
.payBox .pay-block .clearfix2 .tbPay .main {
  width: 480px;
}
.payBox .pay-block .clearfix2 .tbPay.errInput {
  border-color: #ff2525;
}
.payBox .pay-block .clearfix2 .tbPay .tb-head {
  height: 46px;
  line-height: 46px;
  padding: 0 25px;
  font-size: 16px;
  border-bottom: 1px solid #cfcececc;
}
.payBox .pay-block .clearfix2 .tbPay .tb-head .tb-tips {
  color: #979797;
  font-size: 12px;
  font-weight: normal;
  margin-left: 10px;
}
.payBox .pay-block .clearfix2 .tbPay .tb-head .tb-buy {
  width: 120px;
  height: 30px;
  background: #ff8400;
  line-height: 30px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  margin-top: 8px;
  font-size: 12px;
  vertical-align: text-bottom;
  position: relative;
}
.payBox .pay-block .clearfix2 .tbPay .tb-head .tb-buy a {
  display: inline-block;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.payBox .pay-block .clearfix2 .tbPay .tb-head .tb-buy img {
  vertical-align: text-bottom;
}
.payBox .pay-block .clearfix2 .tbPay .tb-content .tb-idBox {
  position: relative;
}
.payBox .pay-block .clearfix2 .tbPay .tb-content .tb-idBox label {
  color: #979797;
  font-size: 12px;
  font-weight: normal;
  margin-right: 14px;
}
.payBox .pay-block .clearfix2 .tbPay .tb-content .tb-idBox .tb-oid {
  width: 70%;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}
.payBox .pay-block .clearfix2 .tbPay .tb-content .tb-idBox .tb-oid.noMarginTop {
  margin-top: 0;
}
.payBox .pay-block .clearfix2 .tbPay .tb-content .tb-idBox .tb-oid.errInput {
  border-color: red;
}
.payBox .pay-block .clearfix2 .tbPay .tb-content .tb-idBox .tb-tips {
  color: #979797;
  font-size: 12px;
  font-weight: normal;
}
.payBox .pay-block .clearfix2 .tbPay .tb-content .errTip {
  color: #e91616;
  font-size: 12px;
  margin-top: 14px;
  display: none;
}
.payBox .pay-block .clearfix2 .tbPay .tb-content .tb-payOrder {
  background: linear-gradient(45deg, #3798ff, #1184fc);
  width: 90px;
  height: 32px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  margin-top: 16px;
}
.payBox .pay-block .payType {
  width: 170px;
  color: #545454;
  font-size: 14px;
  margin-right: 40px;
  user-select: none;
}
.payBox .pay-block .payType > div {
  background-color: #FAFAFA;
  border-radius: 4px;
  cursor: pointer;
  width: 170px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 20px;
  border: solid 1px #F4F4F4;
}
.payBox .pay-block .payType img {
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.payBox .pay-block .payType span {
  width: 80px;
  display: inline-block;
  text-align: left;
  margin-left: 10px;
}
.payBox .pay-block .code {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 30px;
  display: none;
}
.payBox .pay-block .code .tips {
  margin-top: 24px;
  position: absolute;
  width: 100%;
  left: 4px;
  color: #333333;
  font-size: 12px;
}
.payBox .pay-block .code .codeER {
  background: url("../../img/codeERbg.png") no-repeat;
  width: 169px;
  height: 169px;
  padding: 18px;
  position: relative;
}
.payBox .pay-block .code .load {
  position: absolute;
  left: 18px;
  top: 18px;
}
.payBox .pay-block .code .load img {
  width: 135px;
  height: 135px;
}
.payBox .pay-block .code .mask {
  backdrop-filter: blur(2px);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  padding-top: 47px;
  display: none;
  text-align: center;
  cursor: pointer;
}
.payBox .pay-block .code .mask p {
  line-height: 30px;
  font-size: 18px;
  color: #fff;
}
.payBox .pay-block .titlesRight {
  padding-left: 30px;
}
.payBox .pay-block .titlesRight .amount {
  color: #545454;
  font-size: 14px;
}
.payBox .pay-block .titlesRight .amount span {
  font-weight: bold;
  font-size: 36px;
  color: #FF413D;
}
.payBox .pay-block .titlesRight .amount b {
  color: #FF413D;
  font-size: 18px;
  margin-left: 16px;
}
.payBox .pay-block .titlesRight .pay-oid {
  font-size: 14px;
  color: #454545;
}
.payBox .pay-block .titlesRight .pay-oid .order-oid {
  color: #999999;
}
.payBox .pay-block .titlesRight .pay-oid .copy_oid {
  color: #008fff;
  cursor: pointer;
  margin-left: 12px;
  text-decoration: underline;
}
.payBox .pay-block .titlesRight .pay-oid #copyInputPay {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.payBox .pay-block .titlesRight .payTypes {
  height: 30px;
  line-height: 30px;
  color: #333333;
  font-size: 12px;
}
.payBox .pay-block .titlesRight .payTypes img {
  width: 20px;
  height: 20px;
}
.payBox .pay-block .titlesRight.payTypeClass .payTypes {
  margin-top: 6px;
}
.payBox .pay-block .titlesRight.payTypeClass .amount {
  margin: 14px 0;
}
.payBox .pay-block .auxiliary {
  color: #999999;
  font-size: 12px;
  margin-top: 10px;
  user-select: none;
  background-color: #f8f8f8;
  display: inline-block;
  padding: 8px 10px;
}
.payBox .pay-block .auxiliary .time {
  color: #ff5400;
}
.payBox .pay-block .auxiliary .next {
  color: #008fff;
  cursor: pointer;
  text-decoration: underline;
}
.payBox .pay-block .auxiliary > .next:hover {
  color: #3fa4f1;
}
.payBox .pay-block .tipsBox {
  margin-top: 20px;
  font-size: 14px;
  display: none;
}
.payBox .pay-block .tipsBox .typeTips {
  display: inline-block;
  color: #4c4c4c !important;
}
.payBox .pay-block .tipsBox .typeTips img {
  margin-right: 4px;
  margin-top: -3px;
  display: none;
}
.payBox .pay-block .tipsBox .typeTips span {
  margin-left: 4px;
}
.payBox .pay-block .tipsBox .typeTips span.scanCodeRichWxText,
.payBox .pay-block .tipsBox .typeTips span.scanCodeRichAlipayText {
  margin-left: 0;
}
.payBox .pay-block .tipsDiv {
  position: absolute;
  top: 20px;
  cursor: pointer;
}
.payBox .pay-block .tipsDiv img {
  width: 14px;
  height: 14px;
}
.payBox .pay-block .tipsDiv:hover div {
  display: block;
}
.payBox .pay-block .tipsDiv div {
  position: absolute;
  left: 24px;
  top: -2px;
  width: 180px;
  color: #a2a0a0;
  display: none;
  font-size: 12px;
}
.payBox .pay-block .tipsDiv {
  position: absolute;
  top: 20px;
  cursor: pointer;
}
.payBox .pay-block .tipsDiv img {
  width: 14px;
  height: 14px;
}
.payBox .pay-block .tipsDiv:hover div {
  display: block;
}
.payBox .pay-block .tipsDiv div {
  position: absolute;
  left: 24px;
  top: -2px;
  width: 180px;
  color: #a2a0a0;
  display: none;
  font-size: 12px;
}
.payBox .pay-block .tipsDiv2 {
  position: absolute;
  top: 10px;
}
.payBox .pay-block .tipsDiv2 img {
  width: 14px;
  height: 14px;
}
.payBox .pay-block .tipsDiv2 div {
  position: absolute;
  left: 20px;
  top: 0px;
  width: 160px;
  color: #a2a0a0;
  font-size: 12px;
}
.coupon_pop {
  width: 402px;
  height: 232px;
  background: #fff;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  margin-top: -101px;
  margin-left: -201px;
  border-radius: 12px;
  display: none;
}
.coupon_pop #copyInput {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.coupon_pop .pop_top {
  height: 46px;
  border-bottom: 1px solid #dddddd;
  padding: 0 22px;
}
.coupon_pop .pop_top .pop_title {
  float: left;
  font-size: 18px;
  color: #252525;
  line-height: 46px;
}
.coupon_pop .pop_top img {
  width: 14px;
  vertical-align: middle;
  float: right;
  margin-top: 16px;
  cursor: pointer;
}
.coupon_pop .pop_cont .p1 {
  color: #FF413D;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 14px;
}
.coupon_pop .pop_cont .back_block {
  width: 320px;
  height: 60px;
  background: #FFF9ED;
  margin: 0 auto;
  padding: 12px 0;
}
.coupon_pop .pop_cont .back_block .p2 {
  color: #333333;
  font-size: 12px;
  text-align: center;
  margin-bottom: 4px;
}
.coupon_pop .pop_cont .back_block .p2 .orderId_pop {
  margin-left: 4px;
}
.coupon_pop .pop_cont .back_block .p2 span.copy_pop {
  color: #005fdd;
  text-decoration: underline;
  margin-left: 6px;
  cursor: pointer;
}
.coupon_pop .pop_cont .back_block .p3 {
  color: #5d5d5d;
  text-align: center;
  font-size: 12px;
}
.coupon_pop .pop_bottom {
  height: 66px;
  padding: 16px 136px 0;
}
.coupon_pop .pop_bottom .cancel_btn {
  width: 60px;
  height: 34px;
  background: #f2f2f2;
  color: #777777;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  line-height: 34px;
  float: left;
  cursor: pointer;
}
.coupon_pop .pop_bottom .cancel_btn:hover {
  background: #e5e5e5;
}
.coupon_pop .pop_bottom .cancel_btn:active {
  background: #d3d3d3;
}
.coupon_pop .pop_bottom .determine_btn {
  width: 60px;
  height: 34px;
  background: #FF413D;
  color: #ffffff;
  border-radius: 6px;
  float: left;
  font-size: 14px;
  text-align: center;
  line-height: 34px;
  margin-left: 10px;
  cursor: pointer;
}
.coupon_pop .pop_bottom .determine_btn:hover {
  background: #e82d29;
}
.coupon_pop .pop_bottom .determine_btn:active {
  background: #e82d29;
}
.mask_body {
  position: fixed;
  background: #000;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  display: none;
}
