.EditPopup {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 14px;
}
.EditPopup .editBox {
  width: 1098px;
  height: 838px;
  background-image: linear-gradient(0deg, #ecf0ff 0%, #ffffff 100%);
  border-radius: 10px;
  margin: auto;
  margin-top: 10vh;
  height: 89vh;
  max-height: calc(770px);
}
.EditPopup .editHader {
  padding: 26px 29px 22px 112px;
  position: relative;
}
.EditPopup .editHader .productType-bylw {
  width: 100px;
  height: 38px;
  background-image: url(../img/bylw_tag.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  font-size: 16px;
  vertical-align: middle;
  line-height: 38px;
  padding-left: 10px;
  margin-right: 16px;
  position: absolute;
  left: -4px;
  display: none;
}
.EditPopup .editHader .productType-qklw {
  width: 100px;
  height: 38px;
  background-image: url(../img/qklw_tag.png?v=1);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  font-size: 16px;
  vertical-align: middle;
  line-height: 38px;
  padding-left: 10px;
  margin-right: 16px;
  position: absolute;
  left: -4px;
  display: none;
}
.EditPopup.bylwsenior .editHader .productType-bylw {
  display: inline-block;
}
.EditPopup.qklwsenior .editHader .productType-qklw {
  display: inline-block;
}
.ProfessionalEdition .NormalBox,
.ProfessionalEdition .NormalLogo,
.ProfessionalEdition #generate,
.ProfessionalEdition .professionQH1 {
  display: none;
}
.ProfessionalEdition .Preview {
  display: block;
}
.ProfessionalEdition .getBack > span {
  color: #7578db;
}
.ProfessionalEdition .professionLogo,
.ProfessionalEdition #outline,
.ProfessionalEdition .professionQH2 {
  display: inline-block;
}
.ProfessionalEdition .haderTetx {
  background: url('../img/step2.png') no-repeat;
  background-size: 100% 100%;
  box-shadow: 0px 0px 18px 0px rgba(117, 121, 219, 0.11);
}
.ProfessionalEdition .main h3::before {
  background-color: #7579db;
}
.ProfessionalEdition .main h3 .Toggle2,
.ProfessionalEdition .haderTetx,
.ProfessionalEdition .quantity span {
  color: #7579db;
}
.ProfessionalEdition .FruitBox .selected {
  background-color: #f2f5ff;
  color: #7579db;
}
.ProfessionalEdition .mainContainer .generate,
.ProfessionalEdition .mainContainer .outline {
  background-image: linear-gradient(90deg, #7370d5 0%, #7c98ef 100%), linear-gradient(#ee3b86, #ee3b86);
  border: solid 1px #7579db;
  outline: 0 !important;
  padding: 0;
}
.ProfessionalEdition .mainContainer .generate,
.ProfessionalEdition .mainContainer .outline:hover {
  background-image: linear-gradient(90deg, #7c98ef 0%, #7370d5 100%), linear-gradient(#ee3b86, #ee3b86);
}
.ProfessionalEdition .mainContainer .query {
  border: solid 1px #7579db;
  color: #7579db;
  background-color: #fff;
  outline: 0 !important;
  padding: 0;
}
.ProfessionalEdition input[type=checkbox] {
  width: 13px;
  height: 13px;
  margin-right: 10px;
  position: relative;
}
.ProfessionalEdition input[type=checkbox]::after {
  position: absolute;
  top: 0;
  color: #000;
  width: 13px;
  height: 13px;
  display: inline-block;
  visibility: visible;
  padding-left: 0;
  text-align: center;
  content: ' ';
}
.ProfessionalEdition input[type=checkbox]:checked::after {
  content: "✓";
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  background-color: #7579db;
}
.ProfessionalEdition .EnglishLiteratureBox input[type=checkbox] {
  margin-right: 0;
}
.ProfessionalEdition .EnglishLiteratureBox input[type=checkbox]:checked::after {
  width: 16px;
  height: 16px;
  line-height: 17px;
  margin-left: 2px;
}
.ProfessionalEdition input[type=checkbox].inputCheck {
  margin-right: 3px;
  position: relative;
  top: 2px;
}
.ProfessionalEdition .education_i,
.ProfessionalEdition .EnglishReference {
  accent-color: #7579db;
}
.ProfessionalEdition .form-control:focus,
.ProfessionalEdition .open .btn-default,
.ProfessionalEdition .open > .dropdown-toggle.btn-default,
.ProfessionalEdition .open > .dropdown-toggle.btn-default:hover {
  border-color: #7579db !important;
}
.ProfessionalEdition .type_s2 {
  display: inline-block;
  width: 100%;
  position: relative;
}
.ProfessionalEdition .type_s {
  display: none;
}
.ProfessionalEdition.payApp .main h3 i {
  background-color: #7578da;
}
.ProfessionalEdition.payApp .collateImg1,
.ProfessionalEdition.payApp .zzImg1,
.ProfessionalEdition.payApp .yhqImg1,
.ProfessionalEdition.payApp .zfImg1 {
  display: none;
}
.ProfessionalEdition.payApp .collateImg2,
.ProfessionalEdition.payApp .zzImg2,
.ProfessionalEdition.payApp .yhqImg2,
.ProfessionalEdition.payApp .zfImg2 {
  display: inline-block;
}
.ProfessionalEdition.payApp .main .table {
  background-image: linear-gradient(0deg, #ffffff 0%, #f5f5ff 100%);
  box-shadow: 0px 0px 13px 0px rgba(117, 120, 218, 0.24);
}
.ProfessionalEdition.payApp .appreciationUL .appreciationLI {
  background-color: #f9f9ff;
  border: solid 1px #7578da;
}
.ProfessionalEdition.payApp .appreciationUL .appreciationLI .explain {
  color: #898be0;
  background: #eae9ff;
}
.ProfessionalEdition.payApp .appreciationUL .selected i {
  background: url('../img/check2.png') no-repeat;
}
.ProfessionalEdition.payApp .coupon_box .card .use_now {
  background-color: #aaacf0;
}
.ProfessionalEdition.payApp .coupon_pop .pop_bottom .determine_btn {
  background-color: #7578da;
}
.ProfessionalEdition.payApp .typeTag {
  color: #7578da;
  background-color: #eae9ff;
  border: solid 1px #7579db;
}
.ProfessionalEdition.payApp .typeTagKTBG {
  color: #7578da;
  background-color: #eae9ff;
  border: solid 1px #7579db;
}
.ProfessionalEdition.payApp .main .titlesRight .amount span,
.ProfessionalEdition.payApp .main .titlesRight .amount b,
.ProfessionalEdition.payApp .getBack > a:hover {
  color: #7579db;
}
.ProfessionalEdition.payApp .clearfix2 .payType .select {
  background: url('../img/select2.png') no-repeat;
}
.ProfessionalEdition .coupon_pop .pop_cont .p1 {
  color: #7579db;
}
.ProfessionalEdition .coupon_box .card .use_now.can {
  background-color: #7578da;
}
.ProfessionalEdition .coupon_pop .pop_cont .back_block {
  background-color: #f8f8ff;
}
.ProfessionalEdition.queryApp .content .prompt .p1,
.ProfessionalEdition.queryApp .content .Breadcrumb:hover {
  color: #7579db;
}
.ProfessionalEdition.queryApp .content .searchParameters input.orderId {
  border-color: #7579db;
}
.ProfessionalEdition.queryApp .content .searchParameters .searchBtn {
  background-image: linear-gradient(90deg, #7370d5 0%, #7c98ef 100%), linear-gradient(#ee3b86, #ee3b86);
}
.ProfessionalEdition.queryApp .content .searchParameters .searchBtn:hover {
  background-image: linear-gradient(90deg, #7c98ef 0%, #7370d5 100%), linear-gradient(#ee3b86, #ee3b86);
}
.ProfessionalEdition .NEW-mini {
  display: none;
}
.ProfessionalEdition .BACK-mini {
  display: block;
}
.ProfessionalEdition .proposal .uploadBox {
  color: #7579DB;
}
.NEW-mini {
  position: absolute;
  right: -8px;
  top: -14px;
}
.BACK-mini {
  display: none;
  position: absolute;
  right: -8px;
  top: -14px;
}
.step1 {
  margin-top: 60px;
}
.advancedBox {
  width: 390px;
  margin: auto;
}
.advancedBox > div {
  width: 100%;
}
.advancedBox > div .procedure {
  background: url('../img/gaudy.png') no-repeat;
  background-size: 100% 100%;
  width: 171px;
  height: 47px;
  text-align: center;
  line-height: 36px;
  margin-bottom: -18px;
  z-index: 10;
  position: relative;
}
.advancedBox > div .procedure span {
  font-size: 14px;
  color: #ffffff;
}
.advancedBox > div .content {
  box-shadow: inset 0px 0px 35px 0px rgba(123, 149, 237, 0.31);
  border: solid 1px #c6d2ff;
  border-radius: 20px;
  width: 100%;
  margin: auto;
  padding: 13px 0;
  font-size: 16px;
  color: #222222;
  text-align: center;
  background-color: #fff;
}
.advancedBox > div .content p {
  font-size: 12px;
  color: #222222;
}
.advancedBox > div .content .fz14 {
  font-size: 14px;
  font-weight: bold;
}
.advancedBox .top1 {
  margin-top: 40px;
}
.advancedBox .top2 {
  margin-top: 33px;
  position: relative;
}
.advancedBox .top2 > .content {
  text-align: left;
  padding-left: 42px;
  position: relative;
  z-index: 1;
  padding-top: 20px;
}
.advancedBox .top2 .top2Tips {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #cfdaff;
  border-radius: 0 20px 0 0;
  width: 320px;
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  height: 70px;
  z-index: 0;
  color: #5155c4;
  background: linear-gradient(to right, #fafafa, #cfdaff);
  margin-top: -8px;
  font-weight: bold;
  font-size: 12px;
}
.advancedBox .top3 {
  color: #222222;
}
.advancedBox .top3 > .content {
  text-align: left;
  padding-left: 45px;
  line-height: 17px;
}
.advancedBox .top3 .topHader {
  padding: 13px 0px 14px 0;
  font-weight: bold;
  font-size: 18px;
}
.advancedBox .top3 .topHader a {
  background-image: linear-gradient(0deg, #ff8e38 0%, #fec345 100%), linear-gradient(#ee3b86, #ee3b86);
  margin-top: -3px;
}
.advancedBox .top3 .topHader > span {
  font-size: 20px;
}
.advancedBox .top3 .content {
  font-size: 14px;
}
.advancedBox .top3 .content .cl1 {
  color: #465c7d;
}
.advancedBox .top3 .content .cl2 {
  color: #152741;
  font-weight: bold;
}
.advancedBox .top3 .content .cl3 {
  color: #7578db;
  padding-bottom: 8px;
}
.advancedBox .top4 {
  margin-top: 6px;
}
.advancedBox .top4 .topHader {
  font-size: 18px;
  padding: 16px 0 14px 0;
  font-weight: bold;
}
.advancedBox .top4 .content {
  overflow: hidden;
}
.advancedBox .top4 .content li {
  width: 50%;
  float: left;
  height: 24px;
  color: #333333;
  font-size: 14px;
}
.advancedBox .top4 .content img {
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -2px;
}
.advancedBox .top4 .content .TheFirstRow {
  margin-bottom: 16px;
  margin-top: 6px;
}
.advancedBox .top4 .reportCheck {
  width: 196px;
  height: 49px;
  background: url("../img/reportCheck.png") no-repeat;
  background-size: 100% 100%;
  line-height: 49px;
  padding-left: 31px;
  margin-bottom: 13px;
}
.advancedBox .top4 .reportCheck p {
  color: #343f4f;
  font-size: 14px;
  font-weight: normal !important;
}
.advancedBox .top4.step3-zy {
  margin-top: -16px;
}
.advancedBox .topHader {
  background: url('../img/underline2.png') no-repeat;
  background-position: 0 70%;
}
.advancedBox .lvs2 {
  padding-left: 24px;
  line-height: 20px;
}
.advancedBox .lvs1 {
  padding-left: 10px;
  line-height: 20px;
}
.step {
  font-size: 14px;
  color: #7579db;
  font-weight: bold;
  margin: 9px 0 3px 0;
}
.step3 img {
  top: 12px;
}
.step3 {
  max-width: none;
}
.boxLeft {
  padding-bottom: 10px;
}
.VersionSwitchingLoding {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(59, 59, 59, 0.7);
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
}
.VersionSwitchingLoding #preloader_1 {
  position: relative;
  top: 50%;
  left: 50%;
}
.VersionSwitchingLoding #preloader_1 span {
  display: block;
  bottom: 0px;
  width: 9px;
  height: 5px;
  background: #7370d5;
  position: absolute;
  animation: preloader_1 0.6s infinite ease-in-out;
}
.VersionSwitchingLoding #preloader_1 span:nth-child(2) {
  left: 11px;
  animation-delay: 0.1s;
}
.VersionSwitchingLoding #preloader_1 span:nth-child(3) {
  left: 22px;
  animation-delay: 0.2s;
}
.VersionSwitchingLoding #preloader_1 span:nth-child(4) {
  left: 33px;
  animation-delay: 0.3s;
}
.VersionSwitchingLoding #preloader_1 span:nth-child(5) {
  left: 44px;
  animation-delay: 0.4s;
}
@keyframes preloader_1 {
  0% {
    height: 20px;
    transform: translateY(0px);
    background: #7370d5;
  }
  25% {
    height: 60px;
    transform: translateY(15px);
    background: #3498db;
  }
  50% {
    height: 20px;
    transform: translateY(0px);
    background: #7370d5;
  }
  100% {
    height: 20px;
    transform: translateY(0px);
    background: #7370d5;
  }
}
.PageTurning {
  -moz-user-select: none;
  /* Firefox私有属性 */
  -webkit-user-select: none;
  /* WebKit内核私有属性 */
  -ms-user-select: none;
  /* IE私有属性(IE10及以后) */
  -khtml-user-select: none;
  /* KHTML内核私有属性 */
  -o-user-select: none;
  /* Opera私有属性 */
  user-select: none;
  /* CSS3属性 */
}
#NumberWords3 {
  width: 106px;
}
#NumberWords3.form-control:focus {
  border-color: #7372d6;
  box-shadow: 0px 0px 18px 0px rgba(154, 157, 240, 0.11);
}
.Title_text {
  color: #999;
  margin-right: 10px;
}
.PaperTitle {
  color: #333333;
  max-width: 660px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.Title_text2 {
  margin-left: 26px;
}
.editTips2 .errImg2 {
  display: none;
}
.editTips2.Error2 {
  background-color: #fff4f4;
}
.editTips2.Error2 .WordsText {
  color: #e71717;
}
.editTips2.Error2 .errImg1 {
  display: none;
}
.editTips2.Error2 .errImg2 {
  display: inline-block;
}
.errColor {
  border-color: #e71717;
}
.inputBox {
  position: relative;
  display: inline-block;
}
.up {
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #bebebe;
  content: " ";
  display: block;
  width: 0;
  height: 0;
  top: 8px;
  right: 12px;
  cursor: pointer;
}
.up:hover {
  border-bottom: 8px solid #7372d6;
}
.Lower {
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #bebebe;
  content: " ";
  display: block;
  width: 0;
  height: 0;
  top: 22px;
  right: 12px;
  cursor: pointer;
}
.Lower:hover {
  border-top: 8px solid #7372d6;
}
.ktbgseniorBox,
.advancedBox,
.qklwseniorBox {
  display: none;
}
.ProfessionalEdition.bylwsenior .advancedBox {
  display: block;
}
.ProfessionalEdition.ktbgsenior .ktbgseniorBox {
  display: block;
}
.ProfessionalEdition.qklwsenior .qklwseniorBox {
  display: block;
}
.ktbgseniorBox {
  width: 390px;
  margin: auto;
}
.ktbgseniorBox > div {
  width: 100%;
}
.ktbgseniorBox > div .procedure {
  background: url('../img/gaudy.png') no-repeat;
  background-size: 100% 100%;
  width: 171px;
  height: 47px;
  text-align: center;
  line-height: 36px;
  margin-bottom: -18px;
  z-index: 10;
  position: relative;
}
.ktbgseniorBox > div .procedure span {
  font-size: 14px;
  color: #ffffff;
}
.ktbgseniorBox > div .content {
  box-shadow: inset 0px 0px 35px 0px rgba(123, 149, 237, 0.31);
  border: solid 1px #c6d2ff;
  border-radius: 20px;
  width: 100%;
  margin: auto;
  padding: 13px 0;
  font-size: 16px;
  color: #222222;
  text-align: center;
  background-color: #fff;
}
.ktbgseniorBox > div .content p {
  font-size: 12px;
  color: #222222;
}
.ktbgseniorBox > div .content .fz14 {
  font-size: 14px;
  font-weight: bold;
  padding-left: 24px;
}
.ktbgseniorBox .top1 {
  margin-top: 40px;
}
.ktbgseniorBox .top2 {
  margin-top: 33px;
  position: relative;
}
.ktbgseniorBox .top2 > .content {
  text-align: left;
  padding: 20px 10px;
  position: relative;
  z-index: 1;
  height: 322px;
}
.ktbgseniorBox .top2 .top2Tips {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #cfdaff;
  border-radius: 0 20px 0 0;
  width: 320px;
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  height: 70px;
  z-index: 0;
  color: #5155c4;
  background: linear-gradient(to right, #fafafa, #cfdaff);
  margin-top: -8px;
  font-weight: bold;
  font-size: 12px;
}
.ktbgseniorBox .top3 {
  color: #222222;
}
.ktbgseniorBox .top3 > .contents {
  text-align: left;
  line-height: 17px;
}
.ktbgseniorBox .top3 > .contents img {
  max-width: 100%;
  float: right;
}
.ktbgseniorBox .top3 .topHader {
  padding: 13px 0px 14px 0;
  font-weight: bold;
  font-size: 18px;
}
.ktbgseniorBox .top3 .topHader a {
  background-image: linear-gradient(0deg, #ff8e38 0%, #fec345 100%), linear-gradient(#ee3b86, #ee3b86);
  margin-top: -3px;
}
.ktbgseniorBox .top3 .topHader > span {
  font-size: 20px;
}
.ktbgseniorBox .top4 {
  margin-top: 6px;
}
.ktbgseniorBox .top4 .topHader {
  font-size: 18px;
  padding: 14px 0 4px 0;
  font-weight: bold;
}
.ktbgseniorBox .top4 .haderTips {
  color: #222;
  font-size: 12px;
  padding-bottom: 8px;
}
.ktbgseniorBox .top4 .contents {
  overflow: hidden;
}
.ktbgseniorBox .top4 .contents .imgL {
  float: left;
}
.ktbgseniorBox .top4 .contents .imgr {
  float: right;
}
.ktbgseniorBox .topHader {
  background: url('../img/underline2.png') no-repeat;
  background-position: 0 70%;
}
.ktbgseniorBox .lvs2 {
  padding-left: 24px;
  line-height: 20px;
}
.ktbgseniorBox .lvs1 {
  padding-left: 34px;
  line-height: 20px;
}
.ktbgseniorBox .stepMain {
  padding-left: 0px;
}
.qklwseniorBox {
  width: 390px;
  margin: auto;
}
.qklwseniorBox > div {
  width: 100%;
}
.qklwseniorBox > div .procedure {
  background: url('../img/gaudy.png') no-repeat;
  background-size: 100% 100%;
  width: 171px;
  height: 47px;
  text-align: center;
  line-height: 36px;
  margin-bottom: -18px;
  z-index: 10;
  position: relative;
}
.qklwseniorBox > div .procedure span {
  font-size: 14px;
  color: #ffffff;
}
.qklwseniorBox > div .content {
  box-shadow: inset 0px 0px 35px 0px rgba(123, 149, 237, 0.31);
  border: solid 1px #c6d2ff;
  border-radius: 20px;
  width: 100%;
  margin: auto;
  padding: 13px 0;
  font-size: 16px;
  color: #222222;
  text-align: center;
  background-color: #fff;
}
.qklwseniorBox > div .content p {
  font-size: 12px;
  color: #222222;
}
.qklwseniorBox > div .content .fz14 {
  font-size: 14px;
  font-weight: bold;
}
.qklwseniorBox .top1 {
  margin-top: 40px;
}
.qklwseniorBox .top1 .procedure {
  width: 210px;
}
.qklwseniorBox .top2 {
  margin-top: 33px;
  position: relative;
}
.qklwseniorBox .top2 > .content {
  text-align: left;
  padding-left: 42px;
  position: relative;
  z-index: 1;
  padding-top: 20px;
}
.qklwseniorBox .top2 .top2Tips {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #cfdaff;
  border-radius: 0 20px 0 0;
  width: 320px;
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  height: 70px;
  z-index: 0;
  color: #5155c4;
  background: linear-gradient(to right, #fafafa, #cfdaff);
  margin-top: -8px;
  font-weight: bold;
  font-size: 12px;
}
.qklwseniorBox .top3 {
  color: #222222;
}
.qklwseniorBox .top3 > .content {
  text-align: left;
  padding-left: 45px;
  line-height: 17px;
}
.qklwseniorBox .top3 .topHader {
  padding: 13px 0px 14px 0;
  font-weight: bold;
  font-size: 18px;
}
.qklwseniorBox .top3 .topHader a {
  background-image: linear-gradient(0deg, #ff8e38 0%, #fec345 100%), linear-gradient(#ee3b86, #ee3b86);
  margin-top: -3px;
}
.qklwseniorBox .top3 .topHader > span {
  font-size: 20px;
}
.qklwseniorBox .top3 .contents {
  width: 318px;
  height: 228px;
  box-shadow: inset 0px 0px 35px 0px rgba(123, 149, 237, 0.31);
  border: solid 1px #c6d2ff;
  border-radius: 20px;
  position: relative;
  padding-top: 5px;
  margin-bottom: 19px;
}
.qklwseniorBox .top3 .contents img {
  width: 100%;
}
.qklwseniorBox .top3 .contents span {
  font-size: 12px;
  color: #ffffff;
  position: absolute;
  font-weight: bold;
}
.qklwseniorBox .top3 .contents .qklw-s-1 {
  left: 60.5px;
  top: 20px;
}
.qklwseniorBox .top3 .contents .qklw-s-2 {
  left: 209.5px;
  top: 20px;
}
.qklwseniorBox .top3 .contents .qklw-s-3 {
  left: 54.5px;
  top: 99.5px;
}
.qklwseniorBox .top3 .contents .qklw-s-4 {
  left: 210.5px;
  top: 100px;
}
.qklwseniorBox .top4 {
  margin-top: 6px;
}
.qklwseniorBox .top4 .topHader {
  font-size: 18px;
  padding: 16px 0 14px 0;
  font-weight: bold;
}
.qklwseniorBox .top4 .content {
  overflow: hidden;
}
.qklwseniorBox .top4 .content li {
  width: 50%;
  float: left;
  height: 24px;
  color: #333333;
  font-size: 14px;
}
.qklwseniorBox .top4 .content img {
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -2px;
}
.qklwseniorBox .top4 .content .TheFirstRow {
  margin-bottom: 16px;
  margin-top: 6px;
}
.qklwseniorBox .top4 .reportCheck {
  width: 196px;
  height: 49px;
  background: url("../img/reportCheck.png") no-repeat;
  background-size: 100% 100%;
  line-height: 49px;
  padding-left: 31px;
  margin-bottom: 13px;
}
.qklwseniorBox .top4 .reportCheck p {
  color: #343f4f;
  font-size: 14px;
  font-weight: normal !important;
}
.qklwseniorBox .top4.step3-zy {
  margin-top: -16px;
}
.qklwseniorBox .topHader {
  background: url('../img/underline2.png') no-repeat;
  background-position: 0 70%;
}
.qklwseniorBox .lvs2 {
  padding-left: 24px;
  line-height: 20px;
}
.qklwseniorBox .lvs1 {
  padding-left: 10px;
  line-height: 20px;
}
.SelectOutline {
  width: 172px;
  height: 283px;
  background: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #C6D2FF;
  padding: 10px 0px 25px 0px;
}
.SelectOutlinearrow {
  position: relative;
  top: 130px;
  left: 5px;
}
.bj12 {
  background-color: #F1F4FF;
}
.bj12 img {
  float: right;
  position: relative;
  top: 4px;
  margin-right: 4px;
}
/*# sourceMappingURL=ProfessionalEdition.css.map */