.resultBox {
  position: relative;
}
.content {
  margin-top: 20px;
}
.subtitle {
  position: relative;
}
.subtitle .Breadcrumb {
  position: absolute;
  color: #222222;
  top: 0;
  left: 0;
  cursor: pointer;
  font-weight: 400;
}
.subtitle .Breadcrumb:hover {
  color: #0091ff;
}
.content .subtitle {
  margin-top: 0px;
  line-height: 50px;
}
.content .searchParameters {
  margin-top: 14px;
}
.queryApp.indexAppv2 .rightCont .container {
  max-width: 1596px !important;
}
.content .searchParameters input.orderId {
  width: 100%;
}
.collectionBox {
  color: #3D3D3D;
  text-align: center;
  background: linear-gradient(270deg, #FFFFFF 0%, #E1F1FF 50%, #FFFFFF 100%);
  height: 50px;
  width: 70%;
  margin: auto;
  line-height: 50px;
  margin-top: 8px;
}
.collectionBox span {
  color: #0084FF;
  line-height: normal;
}
.collectionBox .button_css {
  background: #C5E7FF;
  border-radius: 4px 4px 4px 4px;
  display: inline-block;
  padding: 3px 4px;
}
.collectionBox .button_css2 {
  padding: 3px 12px;
}
.mb20 {
  padding-bottom: 20px;
  width: 100%;
  display: none;
}
.initTipsShow .mb20 {
  display: block;
}
.initTipsShow .tableBox {
  display: none;
}
.content .noData {
  margin-bottom: 120px;
}
.loadLine {
  margin-bottom: 170px;
  margin-top: 126px;
}
.content .prompt {
  margin-top: 0;
  padding-bottom: 20px;
}
.findOrders {
  background: #FFFFFF;
  box-shadow: 0px 0px 8px 0px rgba(92, 116, 136, 0.08);
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #EBEBEB;
}
.findOrders .findOrdersTop {
  padding: 20px 32px;
  border-bottom: 1px solid #F4F4F4;
}
.findOrders .findOrdersTop span {
  font-size: 14px;
  color: #3D3D3D;
  font-weight: bold;
}
.findOrders .tabSwitching {
  float: right;
}
.findOrders .tabSwitching div {
  float: left;
  line-height: 20px;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
}
.findOrders .tabSwitching div::after {
  content: '';
  position: absolute;
  left: 1px;
  bottom: -21px;
  width: 100%;
  height: 2px;
  display: none;
}
.findOrders .tabSwitching img {
  vertical-align: middle;
  margin-top: -1px;
}
.findOrders .tabSwitching .selected.wxOrders {
  font-weight: bold;
  font-size: 14px;
  color: #50B674;
}
.findOrders .tabSwitching .selected.wxOrders::after {
  background: #50B674;
  display: inline-block;
}
.findOrders .tabSwitching .selected.zfbOrders {
  font-weight: bold;
  font-size: 14px;
  color: #06B4FD;
  display: inline-block;
}
.findOrders .tabSwitching .selected.zfbOrders::after {
  background: #06B4FD;
  display: inline-block;
}
.findOrders .findOrdersMain .flowBox {
  width: 100%;
  max-width: 920px;
  margin: auto;
  min-height: 436px;
  text-align: center;
  padding-top: 24px;
}
.findOrders .findOrdersMain .flowBox p {
  text-align: left;
  width: 100%;
  max-width: 208px;
  margin: auto;
  font-size: 12px;
  color: #666666;
  line-height: 22px;
  margin-top: 16px;
}
.findOrders .flowBoxMain {
  display: none;
  overflow: hidden;
  text-align: center;
}
.findOrders .flowBoxMain > div {
  width: 33.3%;
  float: left;
  position: relative;
}
.findOrders .flowBoxMain .bz {
  position: absolute;
  right: -18px;
  top: calc(50% - 50px);
}
.findOrders .wx_flowBox {
  display: block;
}
.ProfessionalEdition.queryApp .content .prompt .p1,
.ProfessionalEdition.queryApp .content .Breadcrumb:hover {
  color: #32ADFF;
}
.content .searchParameters,
.ProfessionalEdition.queryApp .content .searchParameters {
  background: #FFFFFF;
  box-shadow: 0px 0px 8px 0px rgba(92, 116, 136, 0.08);
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #EBEBEB;
  margin-bottom: 14px;
  height: auto;
  overflow: hidden;
  padding: 24px 32px;
}
.content .searchParameters .orderId-name,
.ProfessionalEdition.queryApp .content .searchParameters .orderId-name {
  float: left;
  line-height: 44px;
}
.content .searchParameters input.orderId,
.ProfessionalEdition.queryApp .content .searchParameters input.orderId {
  height: 36px;
}
.content .searchParameters .queryInput,
.ProfessionalEdition.queryApp .content .searchParameters .queryInput {
  height: 44px;
  background: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #006CFF;
  display: inline-block;
  width: calc(100% - 102px);
  vertical-align: middle;
  padding: 3px 0;
}
.content .searchParameters .orderIdBox,
.ProfessionalEdition.queryApp .content .searchParameters .orderIdBox {
  width: calc(100% - 120px);
}
.content .searchParameters .form-control,
.ProfessionalEdition.queryApp .content .searchParameters .form-control {
  border: 0 !important;
  box-shadow: none !important;
  outline: 0 !important;
}
.content .searchParameters .searchBtn,
.ProfessionalEdition.queryApp .content .searchParameters .searchBtn {
  height: 36px;
  background: #6AA9FF;
  border-radius: 4px 4px 4px 4px;
  margin-right: 4px;
  float: right;
  width: 89px;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 36px;
}
.content .searchParameters .searchBtn:hover,
.ProfessionalEdition.queryApp .content .searchParameters .searchBtn:hover {
  background-image: none;
}
.content .searchParameters .searchBtn.valuable,
.ProfessionalEdition.queryApp .content .searchParameters .searchBtn.valuable {
  background: #006CFF;
}
.content .searchParameters .pointOut,
.ProfessionalEdition.queryApp .content .searchParameters .pointOut {
  display: none;
}
.content .searchParameters .orderIdBox .deleteS,
.ProfessionalEdition.queryApp .content .searchParameters .orderIdBox .deleteS {
  top: 10px;
}
@media (max-width: 1100px) {
  .orderId-name {
    display: inline-block;
  }
}
.content.container {
  padding-left: 40px;
  padding-right: 40px;
}
/*# sourceMappingURL=query_v2.css.map */