* {
  margin: 0;
  padding: 0;
}
body {
  background: #f5f6f8;
  padding: 0 0.97rem;
}
.paySuccess {
  text-align: center;
}
.paySuccess .statusI {
  margin-top: 2.9rem;
}
.paySuccess .payStatusText {
  margin-top: 1.81rem;
  text-align: center;
  color: #080808;
  font-size: 1rem;
}
.paySuccess .orderInform {
  margin-top: 4rem;
  padding: 0 0.97rem 0.97rem 0.97rem;
  border-bottom: 0.33px solid #cecece;
}
.paySuccess .orderInform p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.65rem;
  font-size: 0.87rem;
}
.paySuccess .orderInform p .left {
  color: #999999;
}
.paySuccess .orderInform p .right {
  color: #686868;
}
.paySuccess .orderInform p .right.redText {
  color: #ff7e00;
}
.paySuccess .buttons {
  margin-top: 5.48rem;
}
.paySuccess .buttons > div {
  width: 19.35rem;
  height: 2.9rem;
  text-align: center;
  margin: 0 auto;
  font-size: 0.97rem;
  line-height: 2.9rem;
  border-radius: 3.23rem;
  box-sizing: border-box;
}
.paySuccess .buttons > div:last-child {
  margin-top: 1.55rem;
}
.paySuccess .buttons .queryOrder {
  color: #505050;
  border: 1px solid #d1d1d1;
}
.paySuccess .buttons .submitOrder {
  background: linear-gradient(270deg, #FF496E 0%, #FF8147 100%);
  color: #fff;
}
.payFail {
  display: none;
  text-align: center;
}
.payFail .statusI {
  margin-top: 2.9rem;
}
.payFail .payStatusText {
  margin-top: 1.81rem;
  text-align: center;
  color: #080808;
  font-size: 1rem;
}
.payFail .failText {
  font-size: 0.87rem;
  color: #686868;
  margin-top: 1.61rem;
}
.payFail .buttons {
  margin-top: 6.13rem;
}
.payFail .buttons > div {
  width: 19.35rem;
  height: 2.9rem;
  text-align: center;
  margin: 0 auto;
  font-size: 0.97rem;
  line-height: 2.9rem;
  border-radius: 3.23rem;
  box-sizing: border-box;
}
.payFail .buttons > div:last-child {
  margin-top: 1.55rem;
}
.payFail .buttons .toHome {
  color: #505050;
  border: 0.33px solid #ccc;
}
.payFail .buttons .backPay {
  background: linear-gradient(270deg, #FF496E 0%, #FF8147 100%);
  color: #fff;
}
