a {
  color: #333333;
  text-decoration: none !important;
}
li {
  list-style: none;
}
body {
  padding: 0px;
  margin: 0px;
  background-color: #fafafa !important;
}
.navigation_bar {
  height: 60px;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.navigation_bar img {
  margin-left: 20px;
}
.Sample_Graduation_Thesis {
  width: 1064px;
  margin: auto;
  position: relative;
}
.Sample_Graduation_Thesis .All_contentsample {
  width: 871px;
  float: right;
  background-color: #FFFFFF;
  border-radius: 10px 10px 0px 0px;
  position: relative;
  margin-top: 80px;
  overflow: hidden;
}
.Example_leftnavigation {
  width: 186px;
  background: #FFFFFF;
  border-radius: 10px;
  display: inline-block;
  padding-top: 20px;
  position: absolute;
  top: 80px;
  left: 0px;
  padding-bottom: 10px;
}
.Left_style {
  color: #222222;
}
.Left_style .Left_stylehead {
  height: 20px;
  padding-left: 18px;
  font-size: 14px;
  margin-bottom: 12px;
  line-height: 20px;
  font-weight: bold;
}
.Left_style .Left_stylehead img {
  margin-right: 10px;
  position: relative;
  top: 2px;
}
.Left_style a span {
  display: block;
  height: 36px;
  width: 134px;
  border-radius: 4px;
  margin: auto;
  font-size: 14px;
  padding-left: 28px;
  margin-bottom: 1px;
  line-height: 36px;
  cursor: pointer;
  color: #777777;
}
.Left_style a span:hover {
  background-color: #f9f9f9;
  color: #777777;
}
#lwnr .selectedSiblingsClass {
  border-left: solid 2px #1780FF;
  padding-left: 16px;
  color: #1780FF;
}
#lwnr .selectedSiblingsClass .Image_hiding {
  display: none !important;
}
#lwnr .selectedSiblingsClass .pictures_displaying {
  display: inline-block !important;
}
#lwnr .selectedClass {
  background-color: #F0F7FF !important;
  color: #1780FF !important;
}
#szsj .selectedSiblingsClass {
  border-left: solid 2px #FF6137;
  padding-left: 16px;
  color: #FF6137;
}
#szsj .selectedSiblingsClass .Image_hiding {
  display: none !important;
}
#szsj .selectedSiblingsClass .pictures_displaying {
  display: inline-block !important;
}
#szsj .selectedClass {
  background-color: #FFF8F4 !important;
  color: #FF6137 !important;
}
#nrys .selectedSiblingsClass {
  border-left: solid 2px #5F5FFA;
  padding-left: 16px;
  color: #5F5FFA;
}
#nrys .selectedSiblingsClass .Image_hiding {
  display: none !important;
}
#nrys .selectedSiblingsClass .pictures_displaying {
  display: inline-block !important;
}
#nrys .selectedClass {
  background-color: #F6F6FF !important;
  color: #5F5FFA !important;
}
#lwjw .selectedSiblingsClass {
  border-left: solid 2px #1BB18C;
  padding-left: 16px;
  color: #0B9372;
}
#lwjw .selectedSiblingsClass .Image_hiding {
  display: none !important;
}
#lwjw .selectedSiblingsClass .pictures_displaying {
  display: inline-block !important;
}
#lwjw .selectedClass {
  background-color: #F0FCF3 !important;
  color: #0B9372 !important;
}
.Head_navigation {
  width: 872px;
  height: 60px;
  border-bottom: 1px solid #F1F1F1;
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px 10px 0px 0px;
}
.Head_navigation .window_closed {
  position: absolute;
  right: 30px;
  top: 24px;
  cursor: pointer;
}
.Head_navigation .window_closed:hover .window_closedshow {
  display: inline;
}
.Head_navigation .window_closed:hover .window_closedhidn {
  display: none;
}
.Head_navigation .window_closed .window_closedhidn {
  cursor: pointer;
}
.Head_navigation .window_closed .window_closedshow {
  display: none;
}
.Head_navigation .Head_navDIV {
  width: 210px;
  height: 100%;
  margin: auto;
}
.Head_navigation .Head_navDIV .Detailed_explanation {
  text-align: center;
  margin: auto;
  width: 125px;
  height: 100%;
  line-height: 60px;
  font-size: 18px;
  cursor: pointer;
}
.Head_navigation .Head_navDIV .Product_Comparison {
  text-align: center;
  float: right;
  width: 72px;
  height: 100%;
  line-height: 60px;
  cursor: pointer;
  font-size: 18px;
}
.content_body {
  padding: 20px 20px;
  padding-top: 0px;
}
.content_validity {
  margin-top: 20px;
}
.content_validity .content_valhead {
  height: 36px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.content_validity .content_valhead img {
  margin-right: 12px;
}
.content_validity .content_valhead span {
  position: relative;
}
.content_validity .content_valbody {
  padding: 18px 18px 23px 36px;
}
.content_validity .content_valbody li {
  list-style-type: circle;
  line-height: 24px;
}
.content_validity .content_valbody li::marker {
  font-size: 20px;
}
.content_validity .content_valbody li span:nth-child(1) {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  left: -12px;
  top: -2px;
}
.content_validity .content_valbody li span:nth-child(2) {
  font-size: 12px;
  font-weight: 400;
  position: relative;
  top: -2px;
}
.Image_Introduction {
  box-shadow: 0px 0px 7px 0px rgba(104, 104, 104, 0.1);
  position: relative;
  margin-top: 12px;
  display: inline-block;
}
.Image_Introduction.widthOneHalf {
  width: 409px;
  margin-left: 1px;
}
.Image_Introduction.widthAll {
  width: 100%;
}
.Image_Introduction img {
  width: 100%;
}
.whole_line {
  box-shadow: 0px 0px 7px 0px rgba(104, 104, 104, 0.1);
  position: relative;
  margin-top: 12px;
  width: 826px;
  display: inline-block;
}
.whole_line div {
  width: 100%;
}
.whole_line img {
  width: 100%;
}
.dialogBox {
  overflow-y: scroll;
  height: 100%;
  position: relative;
}
.dialogBox::-webkit-scrollbar {
  width: 5px;
  background: #eee;
}
.dialogBox::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}
.dialogBox::-webkit-scrollbar-thumb {
  border-radius: 3px;
  height: 100px;
  background-color: #ccc;
}
.catalogue {
  font-size: 14px;
  display: inline-block;
  position: absolute;
  border-radius: 0px 19px 19px 0px;
  padding: 0px 18px;
  line-height: 33px;
  height: 32px;
  left: 0px;
  top: 16px;
}
.Color_paper_contenthead {
  color: #0052C2;
  background-color: #EAF3FF;
}
.Color_paper_contentbody {
  background-color: #FAFCFF;
}
.Color_paper_contentbody li::marker {
  color: #0052C2;
}
.Color_paper_contentbody li span:nth-child(1) {
  color: #0052C2;
}
.Color_paper_contentbody li span:nth-child(2) {
  color: #457CBF;
  display: inline-block;
  vertical-align: text-top;
}
.catalogue_content_color {
  background-color: #E2F0FF;
  color: #1881FF;
}
#sjfxtw .Color_paper_contenthead,
#xtyj .Color_paper_contenthead,
#yjxz .Color_paper_contenthead,
#zyyjnr .Color_paper_contenthead,
#yjffjfx .Color_paper_contenthead,
#csjdjwx .Color_paper_contenthead,
#pbgsbd .Color_paper_contenthead,
#gs .Color_paper_contenthead,
#bg .Color_paper_contenthead {
  background-color: #FFF0E7;
  color: #C33200;
}
#sjfxtw .Color_paper_contentbody,
#xtyj .Color_paper_contentbody,
#yjxz .Color_paper_contentbody,
#zyyjnr .Color_paper_contentbody,
#yjffjfx .Color_paper_contentbody,
#csjdjwx .Color_paper_contentbody,
#pbgsbd .Color_paper_contentbody,
#gs .Color_paper_contentbody,
#bg .Color_paper_contentbody {
  background-color: #FFFCFA;
}
#sjfxtw .Color_paper_contentbody li::marker,
#xtyj .Color_paper_contentbody li::marker,
#yjxz .Color_paper_contentbody li::marker,
#zyyjnr .Color_paper_contentbody li::marker,
#yjffjfx .Color_paper_contentbody li::marker,
#csjdjwx .Color_paper_contentbody li::marker,
#pbgsbd .Color_paper_contentbody li::marker,
#gs .Color_paper_contentbody li::marker,
#bg .Color_paper_contentbody li::marker {
  color: #C43300;
}
#sjfxtw .Color_paper_contentbody li span:nth-child(1),
#xtyj .Color_paper_contentbody li span:nth-child(1),
#yjxz .Color_paper_contentbody li span:nth-child(1),
#zyyjnr .Color_paper_contentbody li span:nth-child(1),
#yjffjfx .Color_paper_contentbody li span:nth-child(1),
#csjdjwx .Color_paper_contentbody li span:nth-child(1),
#pbgsbd .Color_paper_contentbody li span:nth-child(1),
#gs .Color_paper_contentbody li span:nth-child(1),
#bg .Color_paper_contentbody li span:nth-child(1) {
  color: #C43300;
}
#sjfxtw .Color_paper_contentbody li span:nth-child(2),
#xtyj .Color_paper_contentbody li span:nth-child(2),
#yjxz .Color_paper_contentbody li span:nth-child(2),
#zyyjnr .Color_paper_contentbody li span:nth-child(2),
#yjffjfx .Color_paper_contentbody li span:nth-child(2),
#csjdjwx .Color_paper_contentbody li span:nth-child(2),
#pbgsbd .Color_paper_contentbody li span:nth-child(2),
#gs .Color_paper_contentbody li span:nth-child(2),
#bg .Color_paper_contentbody li span:nth-child(2) {
  color: #AD8172;
  display: inline-block;
  vertical-align: text-top;
}
#sjfxtw .catalogue_content_color,
#xtyj .catalogue_content_color,
#yjxz .catalogue_content_color,
#zyyjnr .catalogue_content_color,
#yjffjfx .catalogue_content_color,
#csjdjwx .catalogue_content_color,
#pbgsbd .catalogue_content_color,
#gs .catalogue_content_color,
#bg .catalogue_content_color {
  background-color: #FFF0E7;
  color: #FF3600;
}
#lcjg .Color_paper_contenthead,
#sxgsmx .Color_paper_contenthead,
#fxbg .Color_paper_contenthead,
#dmsl .Color_paper_contenthead,
#pzssl .Color_paper_contenthead,
#wjdc .Color_paper_contenthead,
#ctyl .Color_paper_contenthead {
  color: #30306E;
  background-color: #F1F1FF;
}
#lcjg .Color_paper_contentbody,
#sxgsmx .Color_paper_contentbody,
#fxbg .Color_paper_contentbody,
#dmsl .Color_paper_contentbody,
#pzssl .Color_paper_contentbody,
#wjdc .Color_paper_contentbody,
#ctyl .Color_paper_contentbody {
  background-color: #FBFBFF;
}
#lcjg .Color_paper_contentbody li::marker,
#sxgsmx .Color_paper_contentbody li::marker,
#fxbg .Color_paper_contentbody li::marker,
#dmsl .Color_paper_contentbody li::marker,
#pzssl .Color_paper_contentbody li::marker,
#wjdc .Color_paper_contentbody li::marker,
#ctyl .Color_paper_contentbody li::marker {
  color: #30306E;
}
#lcjg .Color_paper_contentbody li span:nth-child(1),
#sxgsmx .Color_paper_contentbody li span:nth-child(1),
#fxbg .Color_paper_contentbody li span:nth-child(1),
#dmsl .Color_paper_contentbody li span:nth-child(1),
#pzssl .Color_paper_contentbody li span:nth-child(1),
#wjdc .Color_paper_contentbody li span:nth-child(1),
#ctyl .Color_paper_contentbody li span:nth-child(1) {
  color: #30306E;
}
#lcjg .Color_paper_contentbody li span:nth-child(2),
#sxgsmx .Color_paper_contentbody li span:nth-child(2),
#fxbg .Color_paper_contentbody li span:nth-child(2),
#dmsl .Color_paper_contentbody li span:nth-child(2),
#pzssl .Color_paper_contentbody li span:nth-child(2),
#wjdc .Color_paper_contentbody li span:nth-child(2),
#ctyl .Color_paper_contentbody li span:nth-child(2) {
  color: #575780;
  display: inline-block;
  vertical-align: text-top;
}
#lcjg .catalogue_content_color,
#sxgsmx .catalogue_content_color,
#fxbg .catalogue_content_color,
#dmsl .catalogue_content_color,
#pzssl .catalogue_content_color,
#wjdc .catalogue_content_color,
#ctyl .catalogue_content_color {
  background-color: #F2F2FF;
  color: #5F5FFF;
}
#ckwxyzx .Color_paper_contenthead {
  background-color: #E5F9E9;
  color: #01775A;
}
#ckwxyzx .Color_paper_contentbody {
  background-color: #F9FFFA;
}
#ckwxyzx .Color_paper_contentbody li::marker {
  color: #01775A;
}
#ckwxyzx .Color_paper_contentbody li span:nth-child(1) {
  color: #01775A;
}
#ckwxyzx .Color_paper_contentbody li span:nth-child(2) {
  color: #578A7D;
}
#ckwxyzx .catalogue_content_color {
  background-color: #F0FCF3;
  color: #0B9372;
}
.spanlast {
  margin-bottom: 10px !important;
}
.Title_color {
  color: #1780FF;
}
.Title_color1 {
  color: #FF6137;
}
.Title_color2 {
  color: #5F5FFA;
}
.Title_color3 {
  color: #0B9372;
}
.Title_Down {
  width: 162px;
  height: 1px;
  margin: auto;
  list-style: none;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  margin-top: 10px;
}
.Plate_spacing {
  margin-left: 3px;
}
.spacing_box {
  margin-top: 8px !important;
}
.pictures_displaying {
  display: none;
  margin-right: 6px !important;
}
.pictures_displaying1 {
  display: none;
  margin-right: 6px !important;
}
.pictures_displaying2 {
  display: none;
  margin-right: 6px !important;
}
.pictures_displaying3 {
  display: none;
  margin-right: 6px !important;
}
#Content_sliding {
  height: calc(100vh - 180px);
}
#bgfm .Image_Introduction.widthAll {
  width: 409px;
  margin: auto;
  display: block;
}
#pzssl .content_validity .content_valbody,
#pbgsbd .content_validity .content_valbody,
#nrdb .content_validity .content_valbody,
#gs .content_validity .content_valbody,
#bg .content_validity .content_valbody {
  display: none;
}
#pzssl .Image_Introduction,
#pbgsbd .Image_Introduction,
#nrdb .Image_Introduction,
#gs .Image_Introduction,
#bg .Image_Introduction {
  box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 0);
}
#nrdb .catalogue,
#pzssl .catalogue {
  display: none;
}
#pbgsbd .catalogue {
  top: 62px;
}
#gs .spacing_box,
#bg .spacing_box {
  margin-top: -5px !important;
}
.aigc_jc {
  width: 100% !important;
}
.xzaigccheckbox .Image_Introduction {
  box-shadow: none;
  position: relative;
  margin: 0;
  margin-top: 0 !important;
  display: inline-block;
}
.xzaigccheckbox .aigc_jc_content {
  padding: 0 7px;
  box-sizing: border-box;
}
.xzaigccheckbox #Content_sliding {
  padding-top: 18px;
}
