.EditPopup {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 14px;
}
.EditPopup .editBox {
  width: 1098px;
  height: 838px;
  background-image: linear-gradient(0deg, #ecf0ff 0%, #ffffff 100%);
  border-radius: 10px;
  margin: auto;
  margin-top: 10vh;
  height: 89vh;
  max-height: calc(770px);
}
.EditPopup .editHader {
  padding: 26px 29px 22px 112px;
  position: relative;
}
.EditPopup .editHader .productType-bylw {
  width: 100px;
  height: 38px;
  background-image: url(../img/bylw_tag.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  font-size: 16px;
  vertical-align: middle;
  line-height: 38px;
  padding-left: 10px;
  margin-right: 16px;
  position: absolute;
  left: -4px;
  display: none;
}
.EditPopup .editHader .productType-qklw {
  width: 100px;
  height: 38px;
  background-image: url(../img/qklw_tag.png?v=1);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  font-size: 16px;
  vertical-align: middle;
  line-height: 38px;
  padding-left: 10px;
  margin-right: 16px;
  position: absolute;
  left: -4px;
  display: none;
}
.EditPopup.bylwsenior .editHader .productType-bylw {
  display: inline-block;
}
.EditPopup.qklwsenior .editHader .productType-qklw {
  display: inline-block;
}
.leftFloat {
  display: none;
}
.Step_diagram {
  display: none;
  width: 86%;
  max-width: 1140px;
  margin: 52px auto 20px;
}
.V3_Theme .Preview {
  display: block;
}
.V3_Theme .getBack > span {
  color: #7578db;
}
.V3_Theme .professionLogo,
.V3_Theme #outline,
.V3_Theme .professionQH2 {
  display: none;
}
.V3_Theme .haderTetx {
  background: #F4F2FF;
  box-shadow: 0px 2px 10px 0px #F4F2FF;
  border-radius: 4px 4px 4px 4px;
  border: 2px solid #FFFFFF;
  line-height: 44px;
}
.V3_Theme .main h3::before {
  background-color: #7579db;
}
.V3_Theme .main h3 .Toggle2,
.V3_Theme .haderTetx,
.V3_Theme .quantity span {
  color: #7579db;
}
.V3_Theme .FruitBox {
  position: absolute;
  left: 366px;
  width: 450px;
  top: 4px;
}
.V3_Theme .FruitBox .selected {
  background-color: #f2f5ff;
  color: #7579db;
}
.V3_Theme .mainContainer .generate,
.V3_Theme .mainContainer .outline {
  background-image: linear-gradient(90deg, #7579DB 0%, #7c98ef 100%), linear-gradient(#ee3b86, #ee3b86);
  border: solid 1px #7579db;
  outline: 0 !important;
  padding: 0;
}
.V3_Theme .mainContainer .generate:hover,
.V3_Theme .mainContainer .outline:hover {
  background-image: linear-gradient(90deg, #7c98ef 0%, #7579DB 100%), linear-gradient(#ee3b86, #ee3b86);
}
.V3_Theme .mainContainer .query {
  border: solid 1px #7579db;
  color: #7579db;
  background-color: #fff;
  outline: 0 !important;
  padding: 0;
}
.V3_Theme input[type="checkbox"]:checked {
  background: url("../img/check2_pre.png") no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  border: none !important;
}
.V3_Theme input[type="radio"]:checked {
  background: url("../img/select2_pre.png") no-repeat;
  background-size: 100% 100%;
  border: none;
}
.V3_Theme .EnglishLiteratureBox input[type=checkbox]:checked::after {
  width: 16px;
  height: 16px;
  line-height: 17px;
  margin-left: 2px;
}
.V3_Theme input[type=checkbox].inputCheck {
  margin-right: 3px;
  position: relative;
  top: 2px;
}
.V3_Theme .education_i,
.V3_Theme .EnglishReference {
  accent-color: #7579db;
}
.V3_Theme .form-control:focus,
.V3_Theme .open .btn-default,
.V3_Theme .open > .dropdown-toggle.btn-default,
.V3_Theme .open > .dropdown-toggle.btn-default:hover {
  border-color: #7579db !important;
}
.V3_Theme .type_s2 {
  display: inline-block;
  width: 100%;
  position: relative;
}
.V3_Theme .type_s {
  display: none;
}
.V3_Theme.payApp .main h3 i {
  background-color: #7578da;
}
.V3_Theme.payApp .collateImg1,
.V3_Theme.payApp .zzImg1,
.V3_Theme.payApp .yhqImg1,
.V3_Theme.payApp .zfImg1 {
  display: none;
}
.V3_Theme.payApp .collateImg2,
.V3_Theme.payApp .zzImg2,
.V3_Theme.payApp .yhqImg2,
.V3_Theme.payApp .zfImg2 {
  display: inline-block;
}
.V3_Theme.payApp .main .table {
  background-image: linear-gradient(0deg, #ffffff 0%, #f5f5ff 100%);
  box-shadow: 0px 0px 13px 0px rgba(117, 120, 218, 0.24);
}
.V3_Theme.payApp .appreciationUL .appreciationLI {
  background-color: #f9f9ff;
  border: solid 1px #7578da;
}
.V3_Theme.payApp .appreciationUL .appreciationLI .explain {
  color: #898be0;
  background: #eae9ff;
}
.V3_Theme.payApp .appreciationUL .selected i {
  background: url('../img/check2.png') no-repeat;
}
.V3_Theme.payApp .coupon_box .card .use_now {
  background-color: #aaacf0;
}
.V3_Theme.payApp .coupon_pop .pop_bottom .determine_btn {
  background-color: #7578da;
}
.V3_Theme.payApp .typeTag {
  color: #7578da;
  background-color: #eae9ff;
  border: solid 1px #7579db;
}
.V3_Theme.payApp .typeTagKTBG {
  color: #7578da;
  background-color: #eae9ff;
  border: solid 1px #7579db;
}
.V3_Theme.payApp .main .titlesRight .amount span,
.V3_Theme.payApp .main .titlesRight .amount b,
.V3_Theme.payApp .getBack > a:hover {
  color: #7579db;
}
.V3_Theme.payApp .main .titlesRight .amount span .originalprice,
.V3_Theme.payApp .main .titlesRight .amount b .originalprice,
.V3_Theme.payApp .getBack > a:hover .originalprice {
  color: #999999;
}
.V3_Theme.payApp .main .titlesRight .amount span .Total_discounts,
.V3_Theme.payApp .main .titlesRight .amount b .Total_discounts,
.V3_Theme.payApp .getBack > a:hover .Total_discounts {
  color: #DB7D25;
}
.V3_Theme.payApp .clearfix2 .payType .select {
  background: url('../img/select2.png') no-repeat;
}
.V3_Theme.payApp .clearfix2 .tbPay .tb-content .tb-payOrder {
  background-image: linear-gradient(90deg, #7b92eb 0%, #5f79e5 100%);
}
.V3_Theme.payApp .clearfix2 .tbPay .tb-content .tb-payOrder:hover {
  background-image: linear-gradient(270deg, #415ccd 0%, #6a82df 100%);
}
.V3_Theme.payApp .clearfix2 .tbPay .tb-content .Three_party span:nth-child(1) {
  color: #7579db;
}
.V3_Theme.payApp .clearfix2 .tbPay .tb-content .Three_party span:nth-child(2) {
  color: #7579db;
}
.V3_Theme.payApp .coupon_box .card .eliminateCoupon:hover {
  background-image: url(../img/delete5.png);
  background-repeat: no-repeat;
}
.V3_Theme .coupon_pop .pop_cont .p1 {
  color: #7579db;
}
.V3_Theme .coupon_box .card .use_now.can {
  background-color: #7578da;
}
.V3_Theme .coupon_pop .pop_cont .back_block {
  background-color: #f8f8ff;
}
.V3_Theme.queryApp .content .prompt .p1,
.V3_Theme.queryApp .content .Breadcrumb:hover {
  color: #7579db;
}
.V3_Theme.queryApp .content .searchParameters input.orderId {
  border-color: #7579db;
}
.V3_Theme.queryApp .content .searchParameters .searchBtn {
  background-image: linear-gradient(90deg, #7370d5 0%, #7c98ef 100%), linear-gradient(#ee3b86, #ee3b86);
}
.V3_Theme.queryApp .content .searchParameters .searchBtn:hover {
  background-image: linear-gradient(90deg, #7c98ef 0%, #7370d5 100%), linear-gradient(#ee3b86, #ee3b86);
}
.V3_Theme .NEW-mini {
  display: none;
}
.V3_Theme .BACK-mini {
  display: block;
}
.V3_Theme .proposal .uploadBox {
  color: #7579DB;
}
.V3_Theme .coupon_box .card .errorTip1 {
  background: #eae9ff;
  border: 1px solid #7578da;
}
.V3_Theme .coupon_box .card .errorTip1 .Picture_event2 {
  display: none;
}
.V3_Theme .coupon_box .card .errorTip1 .Picture_event3 {
  display: block;
}
.V3_Theme .headBox {
  border-bottom: 1px solid #EEEDF5;
  height: 53px;
  padding-left: 40px;
  padding-right: 28px;
}
.V3_Theme .headBox .leftFloat {
  float: left;
  display: inline;
}
.V3_Theme .commodityTypeName {
  font-size: 22px !important;
}
.V3_Theme .v3_haderTetx:after {
  animation: shimmer 3s infinite;
  background: linear-gradient(90deg, transparent, #BDC4FF, transparent);
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  width: 100%;
}
@keyframes shimmer {
  to {
    left: 100%;
  }
}
.V3_Theme .v3_haderTetx {
  display: inline-block;
  width: 562px;
  line-height: 30px;
  height: 32px;
  box-shadow: 0px 2px 10px 0px #F4F2FF;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #FFFFFF;
  padding-left: 24px;
  margin-bottom: 21px;
  position: relative;
  overflow: hidden;
}
.V3_Theme .v3_haderTetx span {
  font-size: 12px;
  color: #585EE1;
  position: relative;
  z-index: 1000;
}
.V3_Theme .v3_haderTetx img {
  width: 18px;
}
.V3_Theme .v3_box {
  padding: 0px 28px;
}
.V3_Theme .Step_diagram .Step_layout,
.V3_Theme .Step_diagram .Step_layout_ktbg {
  width: 672px;
  margin: auto;
  margin-top: 52px;
  margin-bottom: 40px;
  display: flex;
}
.V3_Theme .Step_diagram .Step_layout div,
.V3_Theme .Step_diagram .Step_layout_ktbg div {
  width: 168px;
}
.V3_Theme .Step_diagram .Step_layout div:last-child li,
.V3_Theme .Step_diagram .Step_layout_ktbg div:last-child li {
  border-radius: 0px 2px 2px 0px;
}
.V3_Theme .Step_diagram .Step_layout div:first-child li,
.V3_Theme .Step_diagram .Step_layout_ktbg div:first-child li {
  border-radius: 2px 0px 0px 2px;
}
.V3_Theme .Step_diagram .Step_layout .Next_steps,
.V3_Theme .Step_diagram .Step_layout_ktbg .Next_steps {
  position: relative;
}
.V3_Theme .Step_diagram .Step_layout .Next_steps li,
.V3_Theme .Step_diagram .Step_layout_ktbg .Next_steps li {
  width: 100%;
  height: 4px;
  background: #D8D8D8;
  list-style: none;
  margin-bottom: 22px;
}
.V3_Theme .Step_diagram .Step_layout .Next_steps span,
.V3_Theme .Step_diagram .Step_layout_ktbg .Next_steps span {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #D8D8D8;
  border-radius: 20px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 24px;
  text-align: center;
  position: absolute;
  left: 43%;
  top: -11px;
}
.V3_Theme .Step_diagram .Step_layout .Next_steps p,
.V3_Theme .Step_diagram .Step_layout_ktbg .Next_steps p {
  font-size: 12px;
  color: #666666;
  text-align: center;
}
.V3_Theme .Step_diagram .Step_layout_ktbg div {
  width: 224px;
}
.V3_Theme .headType {
  background-image: url(../img/zyb_bg.png) !important;
}
.V3_Theme .commodityType {
  background: #ffffff;
}
.V3_Theme .queryResults {
  background: #ffffff;
  border: solid 1px #7579DB;
  color: #7579DB;
}
.V3_Theme.bylwsenior .typeLi.bylwsenior,
.V3_Theme.bylwsenior_zrb .typeLi.bylwsenior_zrb,
.V3_Theme.qklwsenior .typeLi.qklwsenior {
  border-radius: 10px;
  font-weight: bold;
  background: #F6F6FF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: inset 0 0 0 1px #F6F6FF;
  color: #585DD0;
}
.V3_Theme .rightCont {
  padding: 22px 0px;
}
.V3_Theme .tipsInfo {
  width: 86%;
  margin: 0px auto 40px;
  max-width: 1140px;
}
.V3_Theme .case {
  margin-bottom: 18px;
}
.V3_Theme .submittedH3 .commodityTypeName::after {
  background: #E7E8FF;
}
.V3_Theme #titleID .optimize {
  background: linear-gradient(110deg, #A19FE4 0%, #A6B7F3 100%);
}
.V3_Theme #titleID .optimize:hover {
  background: linear-gradient(110deg, #8F8EDE 0%, #96A9F0 100%);
}
.V3_Theme .next_step {
  width: 144px;
  height: 46px;
  background: linear-gradient(270deg, #7C97EF 0%, #7579DB 100%);
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #7579DB;
  font-size: 16px;
  color: #FFFFFF;
  outline: 0 !important;
  padding: 0;
}
.V3_Theme .next_step:hover {
  background: linear-gradient(90deg, #7C97EF 0%, #7579DB 100%);
}
.V3_Theme .logov2,
.V3_Theme .search_r_icon,
.V3_Theme .logoType {
  display: none;
}
.V3_Theme .logo_zyb_v2,
.V3_Theme .search_r_zy_icon,
.V3_Theme .logoType2 {
  display: inline-block;
}
.V3_Theme .described .NormalBox {
  display: none;
}
.V3_Theme .Thesis.uploading {
  border: 1px dashed #7579DB;
}
.V3_Theme .pop_cont > div {
  background-color: #f4f5ff;
}
.V3_Theme .openingReport .pop_bottom .determine_package {
  background-color: #7371D6;
}
.NEW-mini {
  position: absolute;
  right: -8px;
  top: -14px;
}
.BACK-mini {
  display: none;
  position: absolute;
  right: -8px;
  top: -12px;
}
.advancedBox {
  width: 390px;
  margin: auto;
}
.advancedBox > div {
  width: 100%;
}
.advancedBox > div .procedure {
  background: url('../img/gaudy.png') no-repeat;
  background-size: 100% 100%;
  width: 171px;
  height: 47px;
  text-align: center;
  line-height: 36px;
  margin-bottom: -18px;
  z-index: 10;
  position: relative;
}
.advancedBox > div .procedure span {
  font-size: 14px;
  color: #ffffff;
}
.advancedBox > div .content {
  box-shadow: inset 0px 0px 35px 0px rgba(123, 149, 237, 0.31);
  border: solid 1px #c6d2ff;
  border-radius: 20px;
  width: 100%;
  margin: auto;
  padding: 13px 0;
  font-size: 16px;
  color: #222222;
  text-align: center;
  background-color: #fff;
}
.advancedBox > div .content p {
  font-size: 12px;
  color: #222222;
}
.advancedBox > div .content .fz14 {
  font-size: 14px;
  font-weight: bold;
}
.advancedBox .top1 {
  margin-top: 40px;
}
.advancedBox .top2 {
  margin-top: 33px;
  position: relative;
}
.advancedBox .top2 > .content {
  text-align: left;
  padding-left: 42px;
  position: relative;
  z-index: 1;
  padding-top: 20px;
}
.advancedBox .top2 .top2Tips {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #cfdaff;
  border-radius: 0 20px 0 0;
  width: 320px;
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  height: 70px;
  z-index: 0;
  color: #5155c4;
  background: linear-gradient(to right, #fafafa, #cfdaff);
  margin-top: -8px;
  font-weight: bold;
  font-size: 12px;
}
.advancedBox .top3 {
  color: #222222;
}
.advancedBox .top3 > .content {
  text-align: left;
  padding-left: 45px;
  line-height: 17px;
}
.advancedBox .top3 .topHader {
  padding: 13px 0px 14px 0;
  font-weight: bold;
  font-size: 18px;
}
.advancedBox .top3 .topHader a {
  background-image: linear-gradient(0deg, #ff8e38 0%, #fec345 100%), linear-gradient(#ee3b86, #ee3b86);
  margin-top: -3px;
}
.advancedBox .top3 .topHader > span {
  font-size: 20px;
}
.advancedBox .top3 .content {
  font-size: 14px;
}
.advancedBox .top3 .content .cl1 {
  color: #465c7d;
}
.advancedBox .top3 .content .cl2 {
  color: #152741;
  font-weight: bold;
}
.advancedBox .top3 .content .cl3 {
  color: #7578db;
  padding-bottom: 8px;
}
.advancedBox .top4 {
  margin-top: 6px;
}
.advancedBox .top4 .topHader {
  font-size: 18px;
  padding: 16px 0 14px 0;
  font-weight: bold;
}
.advancedBox .top4 .content {
  overflow: hidden;
}
.advancedBox .top4 .content li {
  width: 50%;
  float: left;
  height: 24px;
  color: #333333;
  font-size: 14px;
}
.advancedBox .top4 .content img {
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -2px;
}
.advancedBox .top4 .content .TheFirstRow {
  margin-bottom: 16px;
  margin-top: 6px;
}
.advancedBox .top4 .reportCheck {
  width: 196px;
  height: 49px;
  background: url("../img/reportCheck.png") no-repeat;
  background-size: 100% 100%;
  line-height: 49px;
  padding-left: 31px;
  margin-bottom: 13px;
}
.advancedBox .top4 .reportCheck p {
  color: #343f4f;
  font-size: 14px;
  font-weight: normal !important;
}
.advancedBox .top4.step3-zy {
  margin-top: -16px;
}
.advancedBox .topHader {
  background: url('../img/underline2.png') no-repeat;
  background-position: 0 70%;
}
.advancedBox .lvs2 {
  padding-left: 24px;
  line-height: 20px;
}
.advancedBox .lvs1 {
  padding-left: 10px;
  line-height: 20px;
}
.step {
  font-size: 14px;
  color: #7579db;
  font-weight: bold;
  margin: 9px 0 3px 0;
}
.step3 img {
  top: 12px;
}
.step3 {
  max-width: none;
}
.boxLeft {
  padding-bottom: 10px;
}
.VersionSwitchingLoding {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(59, 59, 59, 0.7);
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
}
.VersionSwitchingLoding #preloader_1 {
  position: relative;
  top: 50%;
  left: 50%;
}
.VersionSwitchingLoding #preloader_1 span {
  display: block;
  bottom: 0px;
  width: 9px;
  height: 5px;
  background: #7370d5;
  position: absolute;
  animation: preloader_1 0.6s infinite ease-in-out;
}
.VersionSwitchingLoding #preloader_1 span:nth-child(2) {
  left: 11px;
  animation-delay: 0.1s;
}
.VersionSwitchingLoding #preloader_1 span:nth-child(3) {
  left: 22px;
  animation-delay: 0.2s;
}
.VersionSwitchingLoding #preloader_1 span:nth-child(4) {
  left: 33px;
  animation-delay: 0.3s;
}
.VersionSwitchingLoding #preloader_1 span:nth-child(5) {
  left: 44px;
  animation-delay: 0.4s;
}
@keyframes preloader_1 {
  0% {
    height: 20px;
    transform: translateY(0px);
    background: #7370d5;
  }
  25% {
    height: 60px;
    transform: translateY(15px);
    background: #3498db;
  }
  50% {
    height: 20px;
    transform: translateY(0px);
    background: #7370d5;
  }
  100% {
    height: 20px;
    transform: translateY(0px);
    background: #7370d5;
  }
}
.PageTurning {
  -moz-user-select: none;
  /* Firefox私有属性 */
  -webkit-user-select: none;
  /* WebKit内核私有属性 */
  -ms-user-select: none;
  /* IE私有属性(IE10及以后) */
  -khtml-user-select: none;
  /* KHTML内核私有属性 */
  -o-user-select: none;
  /* Opera私有属性 */
  user-select: none;
  /* CSS3属性 */
}
#NumberWords3 {
  width: 106px;
}
#NumberWords3.form-control:focus {
  border-color: #7372d6;
  box-shadow: 0px 0px 18px 0px rgba(154, 157, 240, 0.11);
}
.Title_text {
  color: #999;
  margin-right: 10px;
}
.PaperTitle {
  color: #333333;
  max-width: 660px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.Title_text2 {
  margin-left: 0;
  color: #444;
  font-size: 14px;
}
.editTips2 .errImg2 {
  display: none;
}
.editTips2.Error2 {
  background-color: #fff4f4;
}
.editTips2.Error2 .WordsText {
  color: #e71717;
}
.editTips2.Error2 .errImg1 {
  display: none;
}
.editTips2.Error2 .errImg2 {
  display: inline-block;
}
.errColor {
  border-color: #e71717;
}
.inputBox {
  position: relative;
  display: inline-block;
}
.up {
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #bebebe;
  content: " ";
  display: block;
  width: 0;
  height: 0;
  top: 8px;
  right: 12px;
  cursor: pointer;
}
.up:hover {
  border-bottom: 8px solid #7372d6;
}
.Lower {
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #bebebe;
  content: " ";
  display: block;
  width: 0;
  height: 0;
  top: 22px;
  right: 12px;
  cursor: pointer;
}
.Lower:hover {
  border-top: 8px solid #7372d6;
}
.ktbgseniorBox,
.advancedBox,
.qklwseniorBox {
  display: none;
}
.V3_Theme.bylwsenior .advancedBox {
  display: block;
}
.V3_Theme.ktbgsenior .ktbgseniorBox {
  display: block;
}
.V3_Theme.qklwsenior .qklwseniorBox {
  display: block;
}
.V3_Theme.scirs .scirsBox {
  display: block;
}
.ktbgseniorBox {
  width: 390px;
  margin: auto;
}
.ktbgseniorBox > div {
  width: 100%;
}
.ktbgseniorBox > div .procedure {
  background: url('../img/gaudy.png') no-repeat;
  background-size: 100% 100%;
  width: 171px;
  height: 47px;
  text-align: center;
  line-height: 36px;
  margin-bottom: -18px;
  z-index: 10;
  position: relative;
}
.ktbgseniorBox > div .procedure span {
  font-size: 14px;
  color: #ffffff;
}
.ktbgseniorBox > div .content {
  box-shadow: inset 0px 0px 35px 0px rgba(123, 149, 237, 0.31);
  border: solid 1px #c6d2ff;
  border-radius: 20px;
  width: 100%;
  margin: auto;
  padding: 13px 0;
  font-size: 16px;
  color: #222222;
  text-align: center;
  background-color: #fff;
}
.ktbgseniorBox > div .content p {
  font-size: 12px;
  color: #222222;
}
.ktbgseniorBox > div .content .fz14 {
  font-size: 14px;
  font-weight: bold;
  padding-left: 24px;
}
.ktbgseniorBox .top1 {
  margin-top: 40px;
}
.ktbgseniorBox .top2 {
  margin-top: 33px;
  position: relative;
}
.ktbgseniorBox .top2 > .content {
  text-align: left;
  padding: 20px 10px;
  position: relative;
  z-index: 1;
  height: 322px;
}
.ktbgseniorBox .top2 .top2Tips {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #cfdaff;
  border-radius: 0 20px 0 0;
  width: 320px;
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  height: 70px;
  z-index: 0;
  color: #5155c4;
  background: linear-gradient(to right, #fafafa, #cfdaff);
  margin-top: -8px;
  font-weight: bold;
  font-size: 12px;
}
.ktbgseniorBox .top3 {
  color: #222222;
}
.ktbgseniorBox .top3 > .contents {
  text-align: left;
  line-height: 17px;
}
.ktbgseniorBox .top3 > .contents img {
  max-width: 100%;
  float: right;
}
.ktbgseniorBox .top3 .topHader {
  padding: 13px 0px 14px 0;
  font-weight: bold;
  font-size: 18px;
}
.ktbgseniorBox .top3 .topHader a {
  background-image: linear-gradient(0deg, #ff8e38 0%, #fec345 100%), linear-gradient(#ee3b86, #ee3b86);
  margin-top: -3px;
}
.ktbgseniorBox .top3 .topHader > span {
  font-size: 20px;
}
.ktbgseniorBox .top4 {
  margin-top: 6px;
}
.ktbgseniorBox .top4 .topHader {
  font-size: 18px;
  padding: 14px 0 4px 0;
  font-weight: bold;
}
.ktbgseniorBox .top4 .haderTips {
  color: #222;
  font-size: 12px;
  padding-bottom: 8px;
}
.ktbgseniorBox .top4 .contents {
  overflow: hidden;
}
.ktbgseniorBox .top4 .contents .imgL {
  float: left;
}
.ktbgseniorBox .top4 .contents .imgr {
  float: right;
}
.ktbgseniorBox .topHader {
  background: url('../img/underline2.png') no-repeat;
  background-position: 0 70%;
}
.ktbgseniorBox .lvs2 {
  padding-left: 24px;
  line-height: 20px;
}
.ktbgseniorBox .lvs1 {
  padding-left: 34px;
  line-height: 20px;
}
.ktbgseniorBox .stepMain {
  padding-left: 0px;
}
.qklwseniorBox {
  width: 390px;
  margin: auto;
}
.qklwseniorBox > div {
  width: 100%;
}
.qklwseniorBox > div .procedure {
  background: url('../img/gaudy.png') no-repeat;
  background-size: 100% 100%;
  width: 171px;
  height: 47px;
  text-align: center;
  line-height: 36px;
  margin-bottom: -18px;
  z-index: 10;
  position: relative;
}
.qklwseniorBox > div .procedure span {
  font-size: 14px;
  color: #ffffff;
}
.qklwseniorBox > div .content {
  box-shadow: inset 0px 0px 35px 0px rgba(123, 149, 237, 0.31);
  border: solid 1px #c6d2ff;
  border-radius: 20px;
  width: 100%;
  margin: auto;
  padding: 13px 0;
  font-size: 16px;
  color: #222222;
  text-align: center;
  background-color: #fff;
}
.qklwseniorBox > div .content p {
  font-size: 12px;
  color: #222222;
}
.qklwseniorBox > div .content .fz14 {
  font-size: 14px;
  font-weight: bold;
}
.qklwseniorBox .top1 {
  margin-top: 40px;
}
.qklwseniorBox .top1 .procedure {
  width: 210px;
}
.qklwseniorBox .top2 {
  margin-top: 33px;
  position: relative;
}
.qklwseniorBox .top2 > .content {
  text-align: left;
  padding-left: 42px;
  position: relative;
  z-index: 1;
  padding-top: 20px;
}
.qklwseniorBox .top2 .top2Tips {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #cfdaff;
  border-radius: 0 20px 0 0;
  width: 320px;
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  height: 70px;
  z-index: 0;
  color: #5155c4;
  background: linear-gradient(to right, #fafafa, #cfdaff);
  margin-top: -8px;
  font-weight: bold;
  font-size: 12px;
}
.qklwseniorBox .top3 {
  color: #222222;
}
.qklwseniorBox .top3 > .content {
  text-align: left;
  padding-left: 45px;
  line-height: 17px;
}
.qklwseniorBox .top3 .topHader {
  padding: 13px 0px 14px 0;
  font-weight: bold;
  font-size: 18px;
}
.qklwseniorBox .top3 .topHader a {
  background-image: linear-gradient(0deg, #ff8e38 0%, #fec345 100%), linear-gradient(#ee3b86, #ee3b86);
  margin-top: -3px;
}
.qklwseniorBox .top3 .topHader > span {
  font-size: 20px;
}
.qklwseniorBox .top3 .contents {
  width: 318px;
  height: 228px;
  box-shadow: inset 0px 0px 35px 0px rgba(123, 149, 237, 0.31);
  border: solid 1px #c6d2ff;
  border-radius: 20px;
  position: relative;
  padding-top: 5px;
  margin-bottom: 19px;
}
.qklwseniorBox .top3 .contents img {
  width: 100%;
}
.qklwseniorBox .top3 .contents span {
  font-size: 12px;
  color: #ffffff;
  position: absolute;
  font-weight: bold;
}
.qklwseniorBox .top3 .contents .qklw-s-1 {
  left: 60.5px;
  top: 20px;
}
.qklwseniorBox .top3 .contents .qklw-s-2 {
  left: 209.5px;
  top: 20px;
}
.qklwseniorBox .top3 .contents .qklw-s-3 {
  left: 54.5px;
  top: 99.5px;
}
.qklwseniorBox .top3 .contents .qklw-s-4 {
  left: 210.5px;
  top: 100px;
}
.qklwseniorBox .top4 {
  margin-top: 6px;
}
.qklwseniorBox .top4 .topHader {
  font-size: 18px;
  padding: 16px 0 14px 0;
  font-weight: bold;
}
.qklwseniorBox .top4 .content {
  overflow: hidden;
}
.qklwseniorBox .top4 .content li {
  width: 50%;
  float: left;
  height: 24px;
  color: #333333;
  font-size: 14px;
}
.qklwseniorBox .top4 .content img {
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -2px;
}
.qklwseniorBox .top4 .content .TheFirstRow {
  margin-bottom: 16px;
  margin-top: 6px;
}
.qklwseniorBox .top4 .reportCheck {
  width: 196px;
  height: 49px;
  background: url("../img/reportCheck.png") no-repeat;
  background-size: 100% 100%;
  line-height: 49px;
  padding-left: 31px;
  margin-bottom: 13px;
}
.qklwseniorBox .top4 .reportCheck p {
  color: #343f4f;
  font-size: 14px;
  font-weight: normal !important;
}
.qklwseniorBox .top4.step3-zy {
  margin-top: -16px;
}
.qklwseniorBox .topHader {
  background: url('../img/underline2.png') no-repeat;
  background-position: 0 70%;
}
.qklwseniorBox .lvs2 {
  padding-left: 24px;
  line-height: 20px;
}
.qklwseniorBox .lvs1 {
  padding-left: 10px;
  line-height: 20px;
}
.SelectOutline {
  width: 172px;
  height: 283px;
  background: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #C6D2FF;
  padding: 10px 0px 25px 0px;
}
.SelectOutlinearrow {
  position: relative;
  top: 130px;
  left: 5px;
}
.bj12 {
  background-color: #F1F4FF;
}
.bj12 img {
  float: right;
  position: relative;
  top: 4px;
  margin-right: 4px;
}
.Insert_window {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 1000;
}
.Insert_window .Insert_box {
  width: 500px;
  background: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Insert_window .Insert_box p {
  font-size: 16px;
  color: #333333;
  margin-bottom: 20px;
}
.Insert_window .Insert_box p img {
  float: right;
  position: relative;
  top: 3px;
  cursor: pointer;
}
.Insert_window .Insert_box .Insert_data {
  margin-top: 12px;
  border: 1px solid #DCDFE6;
  border-radius: 4px;
}
.Insert_window .Insert_box .Insert_data .Insert_img {
  width: 20px;
  height: 20px;
  background: rgba(117, 121, 219, 0.1);
  border-radius: 2px 2px 2px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.Insert_window .Insert_box .Insert_data .Insert_img i {
  display: none;
  width: 18px;
  height: 18px;
  background: #ECEDEF;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #DCDFE6;
}
.Insert_window .Insert_box .Insert_data .Insert_text {
  color: #3D3D3D;
  font-size: 14px;
  margin-right: 8px;
}
.Insert_window .Insert_box .Insert_data .Insert_number {
  color: #7579DB;
  font-size: 16px;
}
.Insert_window .Insert_box .Insert_data .Insert_time {
  position: absolute;
  right: 18px;
  font-size: 12px;
  color: #FF4646;
}
.Insert_window .Insert_box .Insert_data li {
  list-style: none;
  border-bottom: 1px solid #DCDFE6;
  padding: 12px 0px 12px 18px;
  display: flex;
  align-items: center;
  position: relative;
}
.Insert_window .Insert_box .Insert_data li:nth-last-child(1) {
  border-bottom: none;
}
.Insert_window .Insert_btn {
  text-align: right;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Insert_window .Insert_btn .Insert_cancel {
  width: 60px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #7578DA;
  line-height: 30px;
  font-size: 14px;
  color: #7578DA;
  margin-right: 16px;
}
.Insert_window .Insert_btn .Insert_cancel:hover {
  border: 1px solid #8E91ED;
  color: #8E91ED;
}
.Insert_window .Insert_btn .Insert_sure {
  width: 60px;
  height: 32px;
  line-height: 30px;
  background: #7371D6;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #7371D6;
  font-size: 14px;
  color: #FFFFFF;
}
.Insert_window .Insert_btn .Insert_sure:hover {
  background: #8E91ED;
  border: 1px solid #8E91ED;
}
.pay_window {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 1000;
}
.pay_window .pay_box {
  width: 100%;
  max-width: 696px;
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  background: linear-gradient(180deg, #efefff 0%, #fafbff 10%, #fff 20%, #FFFFFF 100%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pay_window .pay_box iframe {
  width: 100%;
  height: 720px;
}
.pay_window .pay_box .pay_close {
  position: absolute;
  right: 30px;
  top: 33px;
  cursor: pointer;
}
.previewResults {
  text-align: center;
  width: 86%;
  margin: auto;
  margin-bottom: 40px;
  max-width: 1140px;
  display: none;
}
.previewResults .title_yl {
  font-size: 22px;
  color: #7579DB;
  line-height: 32px;
  font-weight: bold;
}
.previewResults .abstract_yl {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}
.previewResults .abstract_yl .abstract_content {
  margin-top: 16px;
}
.previewResults .abstract_yl .abstract_content div {
  width: 100%;
  margin-bottom: 6px;
  -webkit-filter: blur(2.8px) contrast(0.7);
  filter: blur(2.8px) contrast(0.7);
  overflow: hidden;
  text-align: left;
  text-indent: 2em;
  font-size: 14px;
  color: #5a5a5a;
  user-select: none;
  line-height: 24px;
}
.previewResults .keywords_yl {
  font-size: 14px;
  text-align: left;
  color: #333;
}
.previewResults .keywords_yl .noData {
  -webkit-filter: blur(2.8px) contrast(0.7);
  filter: blur(2.8px) contrast(0.7);
  overflow: hidden;
  text-align: left;
  text-indent: 2em;
  font-size: 14px;
  color: #5a5a5a;
  user-select: none;
  line-height: 24px;
}
.previewResults .outline_yl {
  margin-top: 16px;
}
.previewResults .outline_text {
  font-size: 14px;
  color: #333;
  line-height: 32px;
}
.previewResults .payment .unlock {
  height: 46px;
  background: linear-gradient(90deg, #7C97EF 0%, #7579DB 100%);
  border-radius: 23px 23px 23px 23px;
  border: 1px solid #7579DB;
  text-align: center;
  line-height: 46px;
  display: inline-block;
  padding: 0 46px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}
.previewResults .payment .unlock:hover {
  background: linear-gradient(90deg, #7579DB 0%, #7C97EF 100%);
}
.previewResults .payment .unlock .Before_amount {
  font-size: 22px;
  font-weight: bold;
}
.previewResults .payment .unlock .After_amount {
  font-weight: bold;
}
.previewResults .payment .unlock .Unlock_All {
  font-size: 16px;
  position: relative;
  left: 4px;
  top: -2px;
}
.previewResults .checkbox input[type="checkbox"]:checked {
  position: absolute;
  top: -1px;
}
.previewResults .template_ktbg .content_ktbg .outline_1 {
  text-align: left;
  font-size: 14px;
  color: #333;
  line-height: 32px;
}
.previewResults .template_ktbg .content_ktbg .div1 {
  width: 100%;
  margin-bottom: 6px;
  -webkit-filter: blur(2.8px) contrast(0.7);
  filter: blur(2.8px) contrast(0.7);
  overflow: hidden;
  text-align: left;
  text-indent: 2em;
  font-size: 14px;
  color: #5a5a5a;
  user-select: none;
  line-height: 24px;
}
